{% if in_array(resourceType, ['object_types', 'relations']) %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'model:create:' ~ resourceType}) ~ '" class="button button-primary button-primary-hover-module-model"><app-icon icon="carbon:add"></app-icon><span class="ml-05">' ~ __('Create') ~ '</span></a>'
    ) %}
{% endif %}

{% do _view.append(
    'app-module-buttons',
    '<a href="' ~ Url.build({'_name': 'model:export'}) ~ '" class="button button-outlined"><app-icon icon="carbon:export"></app-icon><span class="ml-05">' ~ __('Export') ~ '</span></a>'
) %}

{# append links to sidebar #}
{% do _view.append(
    'app-module-links',
      '<a href="' ~ Url.build({'_name': 'model:list:object_types'}) ~ '"><app-icon icon="carbon:switcher"></app-icon><span class="has-border-none ml-05">' ~ __('Object types') ~ '</span></a>'
    ~ '<a href="' ~ Url.build({'_name': 'model:list:relations'}) ~ '"><app-icon icon="carbon:chart-relationship"></app-icon><span class="has-border-none ml-05">' ~ __('Relations') ~ '</span></a>'
    ~ '<a href="' ~ Url.build({'_name': 'model:list:property_types'}) ~ '"><app-icon icon="carbon:edit"></app-icon><span class="has-border-none ml-05">' ~ __('Property types') ~ '</span></a>'
    ~ '<a href="' ~ Url.build({'_name': 'model:list:categories'}) ~ '"><app-icon icon="carbon:tag"></app-icon><span class="has-border-none ml-05">' ~ __('Categories') ~ '</span></a>'
    ~ '<a href="' ~ Url.build({'_name': 'model:list:tags'}) ~ '"><app-icon icon="carbon:tag"></app-icon><span class="has-border-none ml-05">' ~ __('Tags') ~ '</span></a>'
) %}
