<div class="module-header">
    {% if meta.pagination %}
    <nav class="module-toolbar">
        {% element 'Toolbar/filters' %}
        {% element 'Toolbar/pagination' %}
    </nav>
    {% endif %}
</div>
