<div class="bulk-actions" :class="{ disabled: !selectedRows.length }">
    <div>
        {% element 'Form/bulk_export' %}
    </div>

    <h3 class="bulk-header">{{ __('Actions on selected items') }}</h3>

    <div>
        {% element 'Form/bulk_properties' %}

        {% element 'Form/bulk_category' %}

        {% element 'Form/bulk_position' %}

        {% element 'Form/bulk_trash' %}
    </div>
</div>
