<div class="bulk-actions" :class="!selectedRows.length ? 'disabled' : ''">
    <nav>
        {% element 'Form/bulk_export' %}
    </nav>
    <header>
        <h3>{{ __('Actions on selected items') }}</h3>
    </header>
    <nav>
        {% element 'Form/bulk_properties' %}

        {% element 'Form/bulk_category' %}

        {% element 'Form/bulk_position' %}

        {% element 'Form/bulk_trash' %}
    </nav>
</div>
