<div class="bulk-actions" :class="!selectedRows.length? '' : 'enabled'">
    <nav>
        {% element 'Form/bulk_export' %}
    </nav>
    <header>
        <h1>{{ __('Actions on selected items') }}</h1>
    </header>
    <nav>
        {% element 'Form/bulk_properties' %}

        {% element 'Form/bulk_category' %}

        {% element 'Form/bulk_position' %}

        {% element 'Form/bulk_trash' %}
    </nav>
</div>
