/*************/
/*** LOGIN ***/
/*************/
.login {
    flex: auto;
}

label {
    font-size: 12px;
    font-weight: normal;
}

.login label, .login input {
    display: block;
}

.login input {
    padding: 6px;
}

.login input[type=submit] {
    margin: 1.75em 0;
    width: 140px;
    padding: .5em;
}
