body.view-module {
    .module-header {
        min-height: $dashboard-item-height - ($gutter * 3.25) - $gutter; // minus table header and margin
        margin-bottom: $gutter;
    }
    .module-index {
        .list-objects {
            display: table;
            border-collapse: collapse;
            min-width: 100%;
            // table header and table rows
            .table-header, .table-row {
                display: table-row;
                > div {
                    display: table-cell;
                    height: $gutter * 2;
                    white-space: nowrap;
                    border-bottom: 1px solid $gray-550;
                    vertical-align: baseline;
                    &:empty:not(.title-cell) {
                        width: 0; padding-left: 0; padding-right: 0; overflow: hidden;
                    }
                    &.select-cell {
                        padding-left: 0;
                        padding-right: 0;
                        input[type="checkbox"] {
                            position: relative; top: 1px;
                            cursor: cell;
                        }
                    }
                }
            }
            // table header
            .table-header {
                > div {
                    height: $gutter * 3.25;
                    padding: $gutter * 1.625 $gutter 0;
                    line-height: 1;
                    border-bottom-color: inherit;
                    &:first-letter { text-transform: uppercase; }
                    a { text-transform: capitalize; }
                    &.sort {
                        padding-bottom: 0;
                        a {
                            display: flex;
                            align-items: center;
                            border-bottom: 4px solid;
                            border-bottom-color: inherit;
                            padding-bottom: 8px;
                        }
                        a:after {
                            content: "";
                            width: 11px;
                            height: 11px;
                            border-right: 2px solid;
                            border-top: 2px solid;
                        }
                        &.up a:after { transform: rotate(-45deg) translateY(8px) translateX(4px); }
                        &.down a:after { transform: rotate(135deg) translateY(-4px) translateX(-9px); }
                    }
                }
            }
            // table rows
            .table-row {
                &.object-status-off, &.object-status-draft {
                    color: $gray-550;
                }
                &:hover {
                    background-color: $gray-800;
                }
                // table cells
                > div {
                    padding: $gutter * 1.5 $gutter $gutter * .375;
                    &.narrow {
                        width: 1px;
                    }
                    &.title-cell {
                        max-width: 310px;
                        white-space: initial;
                        &:empty:before {
                            content: attr(untitled-label);
                            color: $gray-550;
                            font-style: italic;
                        }
                    }
                    &.thumb-cell {
                        line-height: 1;
                        img {
                            padding: 1px;
                            display: inline-block;
                            max-height: $gutter * 2;
                            max-width: $gutter * 2.5;
                            vertical-align: middle;
                            background-color: $gray-200;
                        }
                    }
                    &.type-cell {
                        padding-bottom: 3px;
                    }
                    &.buttons-cell {
                        padding-right: 0;
                        padding-bottom: 2px;
                        form {
                            display: inline-flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }

    .lang-header {
        grid-column: span 3;
        gap: 12px;
        align-items: flex-end;
    }

    .module-form {
        margin-bottom: $gutter;
    }

    .buttons-cell {
        > * {
            vertical-align: bottom;
        }
    }
}
