.filter-box {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}

.filters-container {
    display: flex;
    flex-direction: column;

    .basic-filters,
    .more-filters,
    .filter-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > * {
            margin-bottom: $gutter;
        }

        > *:not(:last-child) {
            margin-right: $gutter;
        }
    }

    .more-filters {
        margin-top: $gutter;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &.filter-search {
            display: flex;
            input[type="text"] {
                width: 100%;
                min-width: $gutter * 12;
            }
        }

        > * {
            display: inline-flex;
            align-items: center;
        }

        label {
            display: inline-flex;
            align-items: center;
            margin-right: $gutter * .5;

            &:first-letter {
                text-transform: uppercase;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .date-filter {
            display: flex;

            > * + * {
                margin-left: $gutter * .5;
            }

            input {
                margin: 0;
                width: 100%;
            }
        }

        &.parent .filter-label,
        &.categories .filter-label {
            display: none;
        }

        .category-picker,
        .folder-picker {
            display: flex;
            align-items: center;
        }

        .descendants-filter {
            display: flex;
            align-items: center;
            margin-left: $gutter;
        }
    }
}

.filters-container-active {
    padding-left: .5rem;
    border-left: 4px solid red;
}
