body.view-module, body.translation-module {

    .modules-view {
        overflow-x: hidden;

        >header {
            display: inline-flex;
            min-height: 3 * $gutter;

            a {
                margin-left: $gutter;
            }

            button {
                margin-left: $gutter * .5;
            }

            h1:empty {
                &:before {
                    content: attr(untitled-label);
                    color: $gray-600;
                    font-style: italic;
                }
            }
        }
    }

    // view
    .module-form {
        margin-top: $gutter;

        form {
            // layout
            display: flex;
            flex-wrap: wrap;

            .form-column {
                display: contents;
                width: 100%;

                // REMOVE
                pre {
                    max-width: 400px;
                    overflow: auto;
                    background-color: $gray-800;
                    padding: .5rem;
                }

                @media screen and (min-width: 780px) {
                    display: block;
                    &:first-of-type { width: 67%; padding-right: $gutter; }
                    &:last-of-type { width: 33%; }
                }
                @media screen and (min-width: 1024px) {
                    &:first-of-type { width: 55%; padding-right: 2 * $gutter; }
                    &:last-of-type { width: 45%; }
                }
            }

            section.fieldset {
                width: 100%;
                order: 0;
            }

            section.resources {
                width: 100%;
            }

            // section content
            section.fieldset, section.resources {
                .tab-container {
                    margin-bottom: $gutter * 1.5;
                }

                > div,
                .tab-container >div {
                    margin: $gutter 0;
                    &:first-child {
                        margin-top: 0;
                    }
                }

                &.closed {
                    .tab {
                        color: $gray-600;
                        background: linear-gradient(to right, $gray-800, $gray-900);
                    }
                }

                .create-media-box {
                    padding: $gutter * .5 $gutter $gutter * 1.25;
                    margin-bottom: $gutter * 1.5;
                    background-color: $gray-800;
                    border-radius: 4px;
                }


                #{$text-inputs}, textarea {
                    width: 100%;
                    background-color: $gray-200;
                }

                label {
                    flex: 1 0 100%;
                    margin-right: $gutter;
                    line-height: $gutter * 1.5;
                }

                div.input.status {
                    display: flex;
                    flex-wrap: wrap;
                    label:not(:first-child) {
                        flex: 0 0 auto;
                        margin-right: $gutter;
                        cursor: pointer;
                    }
                }

                .stream {
                    display: flex;
                }
                .thumb {
                    background-color: $gray-400;
                    display: inline-block;
                    a {
                        display: block;
                        background-image: linear-gradient(45deg, $gray-300 25%, transparent 25%), linear-gradient(-45deg, $gray-300 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $gray-300 75%), linear-gradient(-45deg, transparent 75%, $gray-300 75%);
                        background-size: 20px 20px;
                        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
                        img {
                            display: block;
                            max-width: 100%;
                        }
                    }
                }

                .embedded-container {
                    position: relative;
                    padding-bottom: 56.25%; // default 16/9
                    padding-top: 30px;
                    height: 0;
                    overflow: hidden;
                    iframe, object, embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        section.relations {
            width: 100%;
            margin-top: $gutter * 4;
        }
    }
}

body.translation-module {
    header {
        h1 {
            span {
                color: $gray-550;
                font-size: $font-size-sssm;
            }
        }
    }

    .form-column.original {
        opacity: .8;
    }

    .form-header {
        width: 100%;
        margin-bottom: $gutter * 2;
        border-bottom: 1px solid $gray-500;
        padding-bottom: $gutter;
    }

    // TODO: refactor this css
    .module-form form .form-column:first-of-type { width: 50% !important; }
    .module-form form .form-column:last-of-type { width: 50% !important }
}


.fieldset .tab {
    display: flex;
    align-items: center;
    margin-bottom: $gutter;
    padding-left: .5rem;
    padding-right: .5rem;
    min-height: 32px;
    background-color: $gray-800;
    color: $gray-500;
    border-radius: 3px;
    cursor: pointer;

    &.is-loading-spinner {
        button {
            display: none;
        }
    }

    h2 {
        flex-grow: 1;
        margin: 0; padding: 0;
        font-size: 1.25rem;
        &:first-letter {
            text-transform: capitalize;
        }
    }
}
