body.view-module, body.userprofiles-view {

    .modules-view {
        >header {
            min-height: 3 * $gutter;
            h1:empty {
                &:before {
                    content: attr(untitled-label);
                    color: $gray-600;
                    font-style: italic;
                }
            }
        }
    }

    // view
    .module-form {
        form {
            @extend .object-form;
        }
    }
}

// tabs layout
.fieldset {
    ~ .fieldset {
        margin-top: $gutter * 1.5;
    }
    .tab {
        display: flex;
        align-items: center;
        padding-left: $gutter * .5;
        padding-right: $gutter * .5;
        border-bottom: 1px solid $gray-100;
        // background-color: $gray-800;

        &.is-loading-spinner {
            button {
                display: none;
            }
        }

        h2 {
            flex-grow: 1;
            margin: 0; padding: 0 $gutter 0 0;
            font-size: $font-size-base;
            &:first-letter {
                text-transform: capitalize;
            }
        }

        &:not(.tab-static) {
            cursor: pointer;
            &:before {
                content: '+';
                margin-right: $gutter;
                font-size: $font-size-2;
            }
            &.open {
                &:before {
                    content: '–';
                }
            }
        }
    }
}


// general view form layout
body.view-module, body.translation-module, body.userprofiles-view {
    .module-form form {
        section.history { margin: 1.5rem 0; }
        section.relations { margin: 1.5rem 0 0; }
    }

    // responsive grid
    .module-form form {
        @media screen and (min-width: 768px) {
            display: grid;
            grid-gap: 0 $gutter;
            grid-template-areas: "header-view header-view"
                                    "main-view side-view"
                                    "submain-view side-view"
                                    "submain-view-1 side-view"
                                    "full-view full-view"
                                    "full-view-1 full-view-1";
            grid-template-columns: 6fr 4fr;
            grid-template-rows: auto auto 1fr auto;
            .form-header { grid-area: header-view; }
            .main-view-column { grid-area: main-view; }
            .side-view-column { grid-area: side-view; }
            section.relations { grid-area: full-view; }
            section.history { grid-area: full-view-1; }
        }

        @media screen and (min-width: 1024px) {
            grid-gap: 0 $gutter * 1.5;
            grid-template-columns: 2fr 1fr;
            section.relations { grid-area: submain-view; }
            section.history { grid-area: submain-view-1; }
        }

        @media screen and (min-width: 1600px) {
            grid-template-columns: 3fr 2fr;
        }
    }
}

body.translation-module {
    .original {
        opacity: .8;
    }

    // TODO: refactor this css
    .module-form form { grid-template-columns: 1fr 1fr !important; }

    .main-view-column .field-actions {
        text-align: right;
    }
    .original .field-align-aid {
        height: $gutter * 2; // match button on the other column
    }
}

