body.view-module, body.translation-module, body.userprofiles-view {

    .modules-view {
        >header {
            min-height: 3 * $gutter;
            h1:empty {
                &:before {
                    content: attr(untitled-label);
                    color: $gray-600;
                    font-style: italic;
                }
            }
        }
    }

    // view
    .module-form {
        form {
            section.fieldset .tab-container {
                .create-media-box {
                    padding: $gutter * .5 $gutter $gutter * 1.25;
                    margin-bottom: $gutter * 1.5;
                    background-color: $gray-800;
                    border-radius: 4px;
                }

                #{$text-inputs}, textarea {
                    width: 100%;
                    background-color: $gray-200;
                }

                #{$text-inputs} {
                    &.input-narrow {
                        max-width: 4 * $gutter;
                    }
                }

                .select select {
                    min-width: 12 * $gutter;
                }

                label {
                    display: block;
                    flex: 1 0 100%;
                    margin-right: $gutter;
                    line-height: $gutter * 1.5;
                }

                .stream {
                    display: flex;
                }
                .thumb {
                    background-color: $gray-400;
                    display: inline-block;
                    a {
                        display: block;
                        background-image: linear-gradient(45deg, $gray-300 25%, transparent 25%), linear-gradient(-45deg, $gray-300 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $gray-300 75%), linear-gradient(-45deg, transparent 75%, $gray-300 75%);
                        background-size: 20px 20px;
                        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
                        img {
                            display: block;
                            max-width: 100%;
                        }
                    }
                }

                .embedded-container {
                    position: relative;
                    padding-bottom: 56.25%; // default 16/9
                    padding-top: 30px;
                    height: 0;
                    overflow: hidden;
                    iframe, object, embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

body.translation-module {
    .original {
        opacity: .8;
    }

    // TODO: refactor this css
    .module-form form { grid-template-columns: 50% 50% !important; }
}


// tabs layout
.fieldset {
    ~ .fieldset {
        margin-top: $gutter * 1.5;
    }
    .tab {
        display: flex;
        align-items: center;
        padding-bottom: $gutter * .5;
        padding-right: $gutter * .5;
        border-bottom: 1px solid $gray-700;
        cursor: pointer;

        &.is-loading-spinner {
            button {
                display: none;
            }
        }

        h2 {
            flex-grow: 1;
            margin: 0; padding: 0 $gutter 0 0;
            font-size: $font-size-sm;
            &:first-letter {
                text-transform: capitalize;
            }
        }

        &:not(.tab-static) {
            &:before {
                content: '+';
                margin-right: .375rem;
                font-size: $font-size-llg;
            }
            &.open {
                &:before {
                    content: '–';
                }
            }
        }
    }
}

// general layout
body.view-module, body.translation-module, body.userprofiles-view {
    .module-form form {

        // arrange form elements
        section.fieldset {
            .tab-container {
                padding: $gutter 0;
                > div {
                    margin: $gutter 0;
                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }

        // responsive grid
        @media screen and (min-width: 768px) {
            display: grid;
            grid-gap: 0 $gutter;
            grid-template-areas: "header-view header-view"
                                    "main-view side-view"
                                    "submain-view side-view"
                                    "full-view full-view";
            grid-template-columns: 6fr 4fr;
            .form-header { grid-area: header-view; }
            .main-view-column { grid-area: main-view; }
            .side-view-column { grid-area: side-view; }
            section.relations { margin-top: 1.5rem; grid-area: full-view; }
        }

        @media screen and (min-width: 960px) {
            grid-gap: 0 $gutter * 1.5;
            grid-template-columns: 2fr 1fr;
            section.relations { grid-area: submain-view; }
        }

        .main-view-column section.fieldset .tab-container {
            @media screen and (min-width: 1366px) {
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                grid-gap: 1rem;
                > div {
                    margin: 0;
                }

                .input.title, .input.textarea, .input.checkbox {
                    grid-column: 1/-1;
                }
                .input.select select {
                    width: 100%;
                }
            }
        }

    }
}
