{% do _view.assign('title', currentModule.name|humanize) %}

<modules-view inline-template>

    <div class="modules-view" v-hotkey="keyEvents">

        {% if ((object.id is empty) and (objectType in ['images', 'files', 'audio', 'videos'])) %}
        <div class="upload-form">
            <h1>{{ __('Upload') }}</h1>
            {% element 'Form/upload' %}
        </div>
        {% endif %}

        <div class="module-form">
            {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
                'url': {'_name': 'modules:save', 'object_type': objectType},
                'id': 'form-main',
            })|raw }}

            <h1>{{ object.attributes.title|default(__('New')) }}</h1>

            {# Extract `core` & `other` properties sets from object.attributes, pass to elements #}
            {% set core_properties = config('Properties.' ~ currentModule.name ~ '.core')|default(['title', 'description', 'uname', 'status']) %}
            {% element 'Form/core_properties' { 'core_properties': Array.onlyKeys(object.attributes, core_properties)} %}

            {% element 'Form/included' %}

            {% element 'Form/other_properties' { 'other_properties': Array.removeKeys(object.attributes, core_properties)} %}

            {% element 'Form/relations' %}

            {% element 'Form/trees' %}

            {% element 'Form/meta' %}

            {# Append "Save" to commands in commands menu. Must stay here, before the form end. #}
            {% do _view.append('commands', Form.submit(__('Save'), {'form': 'form-main'})) %}

            {{ Form.end()|raw }}
        </div>

        {# Append "Delete" to commands in commands menu. #}
        {% do _view.append('commands', Form.postButton(__('Delete'), {'_name': 'modules:delete', 'object_type': objectType}, {'data': {'id': object.id}})) %}

    </div>

</modules-view>
