{% do _view.assign('title', currentModule.name|humanize) %}

<modules-view inline-template ref="moduleView">
<div class="modules-view" v-hotkey="keyEvents">

    {% if object.id %}
    <header>
        <h1 untitled="{{ __('Untitled') }}">{{ object.attributes.title }}</h1>
    </header>
    {% endif %}

    <div class="module-form">

        {# Upload available only for new media objects #}
        {% if object.id is empty and objectType in ['images', 'files', 'audio', 'videos'] %}
            {% element 'Form/upload' %}
        {% endif %}

        {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
            'url': {'_name': 'modules:save', 'object_type': objectType},
            'id': 'form-main',
        })|raw }}

            {# Inside form-column there are form elements, they may have a cssOrder property that reorders
                the elements in single column view, in small viewports. cssOrder may assume the string
                values "1", "2", "3" or "bottom". If missing, the default for cssOrder in "0". #}

            <div class="form-column">
                {% element 'Form/core_properties' %}

                {% element 'Form/custom_left' %}

                {# media streams & other resources included #}
                {% element 'Form/included' %}

                {% element 'Form/other_properties' {'cssOrder': '2'} %} {# Content #}
            </div>

            <div class="form-column">
                {% element 'Form/publish_properties' {'cssOrder': '1'} %}

                {% if _view.request.params.action != 'create' %}
                    {% element 'Form/trees' {'cssOrder': '2'} %}  {# loads folders after 800ms, relations with folders after 1000ms - see file #}
                {% endif %}

                {% element 'Form/advanced_properties' %}

                {% element 'Form/custom_right' %}

                {% element 'Form/meta' {'cssOrder': 'bottom'}  %}
            </div>

            {# temp relations view #}
            {# loads first relation after 1200ms, than every 300ms till last relation, see file #}
            {% element 'Form/relations' %}

        {{ Form.end()|raw }}

        {# Append "Save" to commands in commands menu. Must stay here, before the form end. #}
        {% do _view.append('commands', Form.submit(__('Save'), {'form': 'form-main'})) %}
        {# Append "Delete" to commands in commands menu. #}
        {% do _view.append('commands', Form.postButton(__('Trash'), {'_name': 'modules:delete', 'object_type': objectType}, {'data': {'id': object.id}})) %}
    </div>

</div>
</modules-view>
