<date-ranges-list inline-template>
    <div class="index-date-ranges" :class="showAll? 'show-all' : ''">
        <div>
            {{ Calendar.list(dateRanges)|raw }}
        </div>

        {% if dateRanges|length > 1 %}
            <button class="show-toggle icon icon-only-icon" :class="showAll ? 'icon-minus' : 'icon-plus'" title="{{ __('More') }}" v-on:click.stop.prevent="showAll = !showAll">
                <span class="is-sr-only">{{ __('More') }}</span>
            </button>
        {% endif %}
    </div>
</date-ranges-list>
