{# commands to append in side bar (commands menu) #}
{% if Perms.canCreate() %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'modules:create', 'object_type': objectType}) ~ '" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:add"></app-icon><span class="ml-05">' ~ __('Create') ~ '</span></a>'
    ) %}
{% endif %}

{% if schema.properties.categories %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'modules:categories:index', 'object_type': objectType}) ~ '" class="button button-outlined button-outlined-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:categories"></app-icon><span class="ml-05">' ~ __('Categories') ~ '</span></a>'
    ) %}
{% endif %}

{% if currentModule.sidebar.index %}
{% for item in currentModule.sidebar.index %}
    {% set url = item.url is iterable ? Url.build(item.url) : item.url %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ url ~ '" class="' ~ item.class|default('button button-outlined button-outlined-hover-module-' ~ currentModule.name) ~ '"><app-icon icon="' ~ item.icon|default('carbon:save') ~ '"></app-icon><span class="ml-05">' ~ __(item.label) ~ '</span></a>',
    ) %}
{% endfor %}
{% endif %}
