{# commands to append in side bar (commands menu) #}
{% if Perms.canCreate() %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'modules:create', 'object_type': objectType}) ~ '" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:add"></app-icon><span class="ml-05">' ~ __('Create') ~ '</span></a>'
    ) %}
    {% if objectType in ['audio', 'images', 'files', 'videos'] %}
        {% do _view.append(
            'app-module-buttons',
            '<a href="' ~ Url.build({'_name': 'modules:multiupload', 'object_type': objectType}) ~ '" class="button button-primary button-primary-hover-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:upload"></app-icon><span class="ml-05">' ~ __('Upload multiple') ~ '</span></a>'
        ) %}
    {% endif %}
{% endif %}

{% if schema.properties.categories %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'modules:categories:index', 'object_type': objectType}) ~ '" class="button button-outlined button-outlined-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:categories"></app-icon><span class="ml-05">' ~ __('Categories') ~ '</span></a>'
    ) %}
{% endif %}

{% if currentModule.sidebar.index %}
{% for item in currentModule.sidebar.index %}
    {% set url = item.url is iterable ? Url.build(item.url) : item.url %}
    {% set plugin = item.plugin is defined ? item.plugin : null %}
    {% set itemLabel = '' %}
    {% if plugin and item.label %}
        {% set itemLabel = __d(plugin, item.label) %}
    {% else %}
        {% set itemLabel = item.label is defined ? item.label : __(item.labelKey) %}
    {% endif %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ url ~ '" class="' ~ item.class|default('button button-outlined button-outlined-hover-module-' ~ currentModule.name) ~ '"><app-icon icon="' ~ item.icon|default('carbon:save') ~ '"></app-icon><span class="ml-05">' ~ itemLabel ~ '</span></a>',
    ) %}
{% endfor %}
{% endif %}

{% set indexViewTypes = Layout.moduleIndexViewTypes() %}
{% if indexViewTypes|length > 1 %}
	{% set mapIcon = {
        'list': 'carbon:list',
        'tree': 'carbon:tree-view',
        'calendar': 'carbon:calendar',
    } %}
	{% set mapLabel = {
        'list': __('List'),
        'tree': __('Tree'),
        'calendar': __('Calendar'),
    } %}
    {{ Layout.appendViewTypeButtons() }}
{% endif %}


{% if in_array('admin', user.roles) %}
    {% do _view.append(
        'app-module-buttons',
        '<a href="' ~ Url.build({'_name': 'modules:setup', 'object_type': objectType}) ~ '" class="button button-outlined button-outlined-module-' ~ currentModule.name ~ '"><app-icon icon="carbon:settings"></app-icon><span class="ml-05">' ~ __('Setup module') ~ '</span></a>'
    ) %}
{% endif %}
