{# Append urls to sidebar #}
{% set actions = ['appearance', 'applications', 'endpoints', 'config', 'async_jobs', 'roles', 'roles_modules', 'endpoint_permissions'] %}
{% set controllerAction = _view.request.getparam('controller')|default('') %}
{% for action in actions %}
    {% if action == controllerAction|underscore %}
        {% do _view.append('module-links', '<span class="active-action">' ~ __(action|underscore|humanize) ~ '</span>') %}
    {% else %}
        {% do _view.append('module-links', Html.link(__(action|underscore|humanize), {'_name': 'admin:list:' ~ action}, {})|raw) %}
    {% endif %}
{% endfor %}

{% do _view.append('module-links', '<a href="' ~ Url.build({'_name': 'admin:cache:clear'}) ~ '" class="button button-outlined">' ~ __('Clear cache') ~ '</a>') %}
