.main-panel-container {
    position: fixed;
    top: 0; right: 0;
    min-width: 20 * $gutter;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 60%;
    }
    height: 100vh;
    z-index: 100;
    transform: translateX(101%);
    transition: .3s transform;
    will-change: transform;
    z-index: 1001;

    .main-panel {
        height: 100%;
        background-color: $black;
    }

    .panel-slot {
        height: 100%;
    }

    &.on {
        transform: translateX(0);
        box-shadow: 0 0 32px black;
    }
}

.main-panel {
    .fieldset:first-child {
        padding-top: $gutter;
    }
}

// multiple file upload .../app/components/upload-files-view.js
.main-panel-container .upload-files {
    .upload-item {
        & ~ .upload-item {
            margin-top: $gutter;
        }

        .upload-item-header {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .name {
                margin-right: auto;
            }
            button {
                margin-left: $gutter * .5;
            }
        }

        .message {
            line-height: 1.25rem;
            min-height: 1.25rem;
        }

        .progress-bar {
            width: 100%;
            margin: $gutter * .75 0 $gutter * .75;

            .progress-bar-status {
                min-width: $gutter;
                height: 2px;
            }
            .progress-bar-status.in-progress {
                background-color: $gray-400;
            }
            .progress-bar-status.done {
                background-color: $info;
            }
            .progress-bar-status.error {
                background-color: $danger;
            }
            .progress-bar-status.cancelled {
                background-color: $gray-700;
            }
        }
    }
}
