// side panel
.main-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; right: 0;
    min-width: 25 * $gutter;
    width: 60%;
    height: 100vh;
    z-index: 100;
    background-color: $black;
    box-shadow: 0 0 0 black;
    transform: translateX(101%);
    transition: .3s transform;
    will-change: transform;

    .main-panel-body {
        height: 100%;
        flex: 1 1 0;
    }

    .panel-slot-container {
        height: 100%;
    }

    footer {
        display: flex;
    }

    &.on {
        transform: translateX(0);
        box-shadow: 0 0 32px black;
    }
}


// create-new-object

.upload-files {
    display: flex;
    flex-direction: column;
    height: 100%;

    .upload-list {
        flex-grow: 1;
        overflow-y: auto;
    }

    footer {
        justify-content: flex-end;

        .add-uploads-action {
            margin-right: auto;
        }

        .retry-action {
            margin: 0 $gutter * .5;
        }
    }

    .upload-info {
        // display: flex;
        flex-direction: column;
        padding: $gutter;
        border: 1px solid $gray-800;
        border-radius: $gutter * 0.25;
        margin: $gutter * 0.5;

        .name {
            padding: 0 0 $gutter *.5 0;
        }

        .error {
            margin: $gutter * .5;
        }

        .abort.is-loading-spinner {
            &:after {
                border-color: $white;
                border-right-color: transparent;
                border-top-color: transparent;
            }
        }

        .abort, .success, .retry {
            background-color: $black;
            color: $white;
            float: right;
            margin-right: $gutter * 0.25;
            height: 24px;
            width: 24px;
            margin-bottom: $gutter * .5;

            &:before {
                margin: 0;
            }

            &.success {
                color: $info;
                cursor: default;
            }

            &.abort {
                &:hover {
                    color: $danger;
                    background-color: $white;
                }
            }

            &.retry {
                &:hover {
                    color: $white;
                    background-color: $gray-800;
                }
            }
        }

        .progress-bar {
            display: flex;
            min-height: 20px;
            width: 100%;
            border-radius: 20px;
            background: $gray-800;
            box-shadow: 0 2px 5px $gray-900 inset;

            .progress-bar-status {
                display: block;
                height: 14px;
                margin: 3px;
                border-radius: 20px;
            }
            .progress-bar-status.in-progress {
                background-color: $gray-400;
                min-width: 14px;
            }

            .progress-bar-status.done {
                background-color: $info;
            }

            .progress-bar-status.error {
                background-color: $danger;
            }

            .progress-bar-status.cancelled {
                background-color: $warning;
            }

            @keyframes pulse {
                0% { opacity: 1 }
                25% { opacity: 0.8 }
                50% { opacity: 0.6 }
                75% { opacity: 0.4 }
                100% { opacity: 0.2 }
            }
        }
    }
}
