{% do _view.assign('title', __('Trashcan')) %}

<trash-view inline-template>
<div class="modules-view">

    <header>
        <h1>{{ object.attributes.title|default(__('New entry in') ~ ' ' ~ objectType) }}</h1>
    </header>

    <div class="module-form">
            {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
                'url': {'_name': 'trash:list'},
                'id': 'form-main',
            })|raw }}

            {# Inside form-column there are form elements, they may have a cssOrder property that reorders
                the elements in single column view, in small viewports. cssOrder may assume the string
                values "1", "2", "3" or "bottom". If missing, the default for cssOrder in "0". #}

            <div class="form-column">
                {% element 'Form/core_properties' %}

                {# media #}
                {% if objectType in ['images', 'files', 'audio', 'videos'] %}
                    {% if object.id is not empty %}
                        {% element 'Form/included' %}
                    {% endif %}
                {% endif %}

                {% element 'Form/other_properties' {'cssOrder': '2'} %} {# Content #}
            </div>

            <div class="form-column">
                {% element 'Form/publish_properties' {'cssOrder': '1'} %}

                {% element 'Form/advanced_properties' %}

                {% element 'Form/meta' {'cssOrder': 'bottom'}  %}
            </div>

            {# temp relations view #}
            {% element 'Form/relations' %}

        {{ Form.end()|raw }}

        {# Append "Delete" and "Restore" to commands in commands menu. #}
        {% do _view.append('commands-buttons', Form.postButton(__('Restore'), {'_name': 'trash:restore'}, {'data': {'id': object.id}})) %}
        {% do _view.append('commands-buttons', Form.postButton(__('Delete'), {'_name': 'trash:delete'}, {'data': {'id': object.id}})) %}
    </div>

</div>
</trash-view>
