.tags-container {
    max-width: 1200px;
    .tags {
        .list-objects {
            .disabled {
                color: gray;
            }

            input[type=checkbox]:disabled {
                filter: invert(1) brightness(3);
            }
        }
    }
}
