
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $gray-900;
    z-index: 200;
    overflow:hidden;
}

div.square-loader {
    div {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 45%;

        $duration: 2s;

        &:nth-child(1) {
            background-color: #ff5460;
            animation: move $duration infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(2) {
            background-color: #ff9d84;
            animation: move $duration 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(3) {
            background-color: #f0e797;
            animation: move $duration 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(4) {
            background-color: #75b08a;
            animation: move $duration 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

// header.twig
.layout-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 79px;

    ul[role='menu'] {
        display: flex;
        list-style: none;
        margin: 0 0 $gutter * 3; // make room for the tooltip
        padding: 0;

        > li {
            position: relative;
            width: 20px;
            height: 20px;
            margin-right: 1px;
            background-color: $gray-600;

            &:first-child {
                background-color: $white;
            }

            &.current a:after {
                content: '\00a0 ';
                display: block;
                position: absolute;
                width: 6px; height: 6px;
                top: 50%; margin-top: -3px;
                left: 50%; margin-left: -3px;
                background-color: $white;
                opacity: .5;
            }

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                @extend .hide-text;

                &:hover:before {
                    position: absolute;
                    content: attr(title);
                    top: 22px;
                    left: 0;
                    z-index: 1;
                    padding: $gutter * .5 $gutter;
                    border-radius: 3px;
                    text-indent: initial;

                    font: .75rem $font-family-sans-serif;
                    white-space: nowrap;
                    color: $gray-700;
                    background-color: $white;
                }
            }
        }
    }
}
