
#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $gray-900;
    z-index: 200;
    overflow:hidden;
}

div.square-loader {
    div {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 45%;

        $duration: 2s;

        &:nth-child(1) {
            background-color: #ff5460;
            animation: move $duration infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(2) {
            background-color: #ff9d84;
            animation: move $duration 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(3) {
            background-color: #f0e797;
            animation: move $duration 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }

        &:nth-child(4) {
            background-color: #75b08a;
            animation: move $duration 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}
