// header.twig
.layout-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;


    ul[role="menu"] {
        display: flex;
        list-style: none;
        margin: 0 0 $gutter * 3 $gutter * .5;
        padding: 0;

        > li {
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 1px;
            background-color: $gray-600;
            @media screen and (min-width: 780px) {
                width: 38px;
                height: 38px;
            }

            &.separator {
                flex-grow: 1;
            }

            &.current a:after {
                content: '\00a0 ';
                display: block;
                position: absolute;
                width: 100%; height: 6px;
                bottom: 0;
                left: 0;
                background-color: $white;
                opacity: .3;
                @media screen and (max-width: 780px) {
                    width: 6px; height: 6px;
                    top: 50%; margin-top: -3px;
                    left: 50%; margin-left: -3px;
                }
            }

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                line-height: 1;
                padding: 4px 6px;

                @media screen and (max-width: 780px) {
                    @include hide-text;
                }

                &:hover:before {
                    position: absolute;
                    content: attr(tooltip);
                    top: 24px;
                    left: 0;
                    z-index: 1;
                    text-indent: initial;

                    white-space: nowrap;
                    font: .75rem $font-family-sans-serif;
                    color: $gray-200;

                    @media screen and (min-width: 780px) {
                        top: 42px;
                    }
                }
            }
        }
    }
}
