
<div class="tab"><h2>{{ __('Other Properties') }}</h2></div>

<fieldset id="object_properties">

{% for name, val in data.attributes %}
{% if not in_array(name, ['title', 'description', 'uname', 'status']) %}

    {{ Property.display(name, val) }}

{% endif %}
{% endfor %}

</fieldset>
