
<form action="{{ baseUrl }}{{ currentModule.name }}" method="POST" name="updateForm" id="updateForm" class="cmxform">
<!-- {$beForm->csrf()} -->

    <input type="hidden" name="data[id]" value="{{ data.id }}"/>

    {% element 'form_core_properties' %}

    {% element 'form_other_properties' %}

    {% element 'form_meta' %}

</form>
