
<div class="tab"><h2>{{ __('Other Properties') }}</h2></div>

<fieldset id="object_properties">

{% for key, value in object.attributes %}
    {% if not in_array(key, ['title', 'description', 'uname', 'status']) %}
        {{ Form.control(key)|raw }}

        {{ Property.display(name, val) }}
    {% endif %}
{% endfor %}

</fieldset>
