<ul role="menu">
    <li>
        {{ Html.link(__('Dashboard'), {'_name': 'dashboard'}, {'title': __('Dashboard')})|raw }}
    </li>

    {% for module in modules %}
    <li class="module-color-{{ module.name }} {{ module.name == currentModule.name ? 'current' : '' }}">
        {{ Html.link(module.name|humanize, {'controller': 'Modules', 'action': 'index', 'object_type': module.name}, {'title': module.name|humanize})|raw }}
    </li>
    {% endfor %}
</ul>
