<div class="left-menu">
    {{ Html.link((project.name ?: 'BEdita 4'), '/', {'class': 'left-menu__project'})|raw }}

    {#{% element 'tree' %}#}

    {% if user %}
        {% element 'menu_user' %}
    {% endif %}

    {% element 'menu_colophon' %}

</div>
