#messagesDiv {
    position: absolute;
    width: $grid-column-width * 2;
    font-size: 12px;
    z-index: 1000;


    .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: $gutter;
        padding: $gutter;
        background-color: $gray-100;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        min-height: 110px;
        border-width: 1px 0 0;
        border-style: solid;
        border-color: transparent;
        opacity: 0;
        transition: .3s all;
        width: 100%;

        &.on {
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 58% 100%, 0 100%);
        }

        &.details {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            width: 580px;
            pre {
                display: initial;
            }
        }


        h1, h2, p {
            margin: 0 0 $gutter;
        }

        pre {
            display: none;
            width: 100%;
            overflow: auto;
        }

        a.btn-close {
            justify-self: flex-end;
            border-top: 1px solid $gray-500;
            padding: 5px 0 0 0;
        }

        &.success {
            border-color: rgb(38, 84, 170);
        }
        &.info {
            border-color: rgb(53, 119, 62);
        }
        &.error {
            border-color: rgb(187, 26, 26);
        }
        &.warning {
            border-color: rgb(202, 126, 26);
        }
    }
}
