<panel-view :custom-footer="true" :custom-header="true">
    <div class="panel-slot-container" slot-scope="props">
        <edit-relation-params v-if="props.action === 'edit-relation-params'" v-bind="props.data"> </edit-relation-params>
        <relations-add v-if="props.action === 'relations-add'" v-bind="props.data" inline-template>
            {% element 'relations_add' %}
        </relations-add>
    </div>
</panel-view>
