
// create-new-object

.upload-files {
    display: flex;
    flex-direction: column;
    height: 100%;

    section {
        flex-grow: 1;
    }

    .upload-info {
        // display: flex;
        flex-direction: column;
        padding: $gutter;
        border: 1px solid $gray-800;
        border-radius: $gutter * 0.25;
        margin: $gutter * 0.5;

        .name {
            padding: 0 0 $gutter *.5 0;
        }

        .error {
            margin: $gutter * .5;
        }

        .abort.is-loading-spinner {
            &:after {
                border-color: $white;
                border-right-color: transparent;
                border-top-color: transparent;
            }
        }

        .abort, .success, .retry {
            background-color: $black;
            color: $white;
            float: right;
            margin-right: $gutter * 0.25;
            height: 24px;
            width: 24px;
            margin-bottom: $gutter * .5;

            &:before {
                margin: 0;
            }

            &.success {
                color: $info;
                cursor: default;
            }

            &.abort {
                &:hover {
                    color: $danger;
                    background-color: $white;
                }
            }

            &.retry {
                &:hover {
                    color: $white;
                    background-color: $gray-800;
                }
            }
        }

        .progress-bar {
            display: flex;
            min-height: 20px;
            width: 100%;
            border-radius: 20px;
            background: $gray-800;
            box-shadow: 0 2px 5px $gray-900 inset;

            .progress-bar-status {
                display: block;
                height: 14px;
                margin: 3px;
                border-radius: 20px;
            }
            .progress-bar-status.in-progress {
                background-color: $gray-400;
                min-width: 14px;
            }

            .progress-bar-status.done {
                background-color: $info;
            }

            .progress-bar-status.error {
                background-color: $danger;
            }

            .progress-bar-status.cancelled {
                background-color: $warning;
            }

            @keyframes pulse {
                0% { opacity: 1 }
                25% { opacity: 0.8 }
                50% { opacity: 0.6 }
                75% { opacity: 0.4 }
                100% { opacity: 0.2 }
            }
        }
    }
}
