<div class="element-menu">
    {{ Html.link((project.name ?: 'BEdita 4'), '/', {'class': "project border-color-#{currentModule.name}"})|raw }}
    {# <ul class="menu-links">{{ _view.fetch('links')|raw }}</ul> #}

    {#{% element 'tree' %}#}
    {% element 'Menu/colophon' %}

    {% if user %}
    <ul class="menu-links">
        <li>› {{ Html.link(__('log out'), {'_name': 'logout'})|raw }}</li>
    </ul>
    {% endif %}

</div>
