{{ _view.assign('title', currentModule.name)) }}

<body>

<div class="module">

    {% element 'modules_top_menu' %}

    {% element 'pagination_toolbar' %}

    {% element 'filters' %}

    {% element 'list_objects' %}

</div>
