{{ _view.assign('title', "%s - %s"|format("BEdita4", currentModule.name)) }}

{% element 'modules_top_menu' %}

{% element 'left_menu' %}

{% element 'commands_menu' %}

{% element 'pagination_toolbar' %}

<div class="mainfull">

    {% element 'filters' %}

    {% element 'list_objects' %}

</div>
