// index
.view-modules {
    margin-top: $gutter;

    .list-objects {
        display: table;
        border-collapse: collapse;
        min-width: 100%;

        > nav {
            display: table-row;

            &.table-header {
                border-bottom: 1px solid $gray-700;

                a.sort {
                    display: flex;
                    align-items: center;

                    &:after {
                        content: "›";
                        margin-left: 10px;
                        display: inline-block;
                        font-size: 1.5em;
                        line-height: 21px;
                    }

                    &.up:after {
                        transform: rotate(-90deg);
                    }
                    &.down:after {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        > a {
            display: table-row;

            &:hover {
                background-color: $gray-700;
            }
        }

        > nav, > a {
            div {
                display: table-cell;
                padding: $gutter * .5;
                white-space: nowrap;
                &:first-child {
                    padding-left: 2px;
                    max-width: 13em;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    &:empty:before {
                        content: 'untitled object';
                        color: $gray-600;
                        font-style: italic;
                    }
                }
                &:last-child {
                    padding-right: 2px;
                    text-align: right;
                    > form {
                        display: inline-block;
                    }
                }
            }
        }

        button {
            line-height: initial;
        }
    }
}


// view
.view-modules-form {
    width: 100%;
    margin-top: $gutter;

    @media screen and (min-width: 780px) {
        display: flex;
        flex-wrap: wrap;
        > section {
            width: 33%;
            &:first-child {
                width: 100%;
            }
            &:nth-child(even) {
                width: 67%;
                padding-right: $gutter;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        > section {
            width: 50%;
            &:nth-child(even) {
                width: 50%;
            }
        }
    }

    label {
        display: block;
    }

    #{$text-inputs},
    textarea {
        width: 100%;
        background-color: $gray-200;
    }

    fieldset {
        width: 100%;
        padding: 0;

        > div {
            margin: 10px 0;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    h1.missing-title {
        color: $gray-600;
        font-style: italic;
    }

    .tab {
        margin: 1rem 0;
        padding: .25rem .5rem;
        background-color: $gray-800;
        color: $gray-500;
        cursor: pointer;

        .open {
            color: $gray-200;
        }

        h2 {
            margin: 0;
            font-size: 1.25rem;
        }
    }

    .input.radio {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        label {
            flex: 0 0 auto;
            margin-right: $gutter;
            cursor: pointer;
            &:first-child {
                flex: 1 0 100%;
                margin-right: 0;
            }
        }
    }

    // ######################## da rivedere
    .hidden {
        display: none;
    }



    // relations
    .relations {

        button {
            margin: 0 0 1em;
        }
        .relation {
            margin: 4em 0;

            h1 { font-size: 1.5rem; color: magenta; }

            .loader, .dialog, .result, button.close-relation, button.close-dialog {
                display: none;
            }
            .cart {
                border: solid skyblue 1px;
            }
            .related-list {
                border: solid green 1px;
                a.in-cart {
                    text-decoration: line-through;
                }
            }
            li.in-cart {
                text-decoration: line-through;
            }
        }
    }
}

