{{ _view.assign('title', currentModule.name|humanize) }}

<div class="main">
    {{ Form.create(null, {
        'url': {'_name': 'modules:save', 'object_type': objectType},
        'value': object.attributes,
    })|raw }}

    {% element 'form_core_properties' %}

    {% element 'form_other_properties' %}

    {% element 'form_meta' %}

    {{ Form.end()|raw }}
</div>


