{{ _view.assign('title', "%s - %s"|format("BEdita4", currentModule.name)) }}

{% element 'modules_top_menu' %}

{% element 'left_menu' %}

<div class="head">
    <h1>{{ data.attributes.title }}</h1>
</div>

{% element 'commands_menu' %}

<div class="main">
    {% element 'form_object' %}
</div>

{% element 'right_menu' %}
