@use "../../../resources/styles/variables";

#data-import {
    .fieldset {
        margin-bottom: variables.$gutter * 1.5;

        .tab {
            cursor: auto;
        }
    }

    .tab-container {
        label {
            display: block;
            cursor: pointer;
            & ~ label {
                margin-top: variables.$gutter * .5;
            }
        }
    }

    button.submit {
        padding-left:  3 * variables.$gutter;
        padding-right: 3 * variables.$gutter;
    }
}

#list-jobs {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 50px;

    .table-header {
        border-bottom: 1px solid variables.$gray-700;
    }

    > div {
        padding: variables.$gutter * .5;

        &.job-payload {
            grid-column: span 7;
            color: #000;
            font-size: xx-small;
            font-family: monospace;

            > h3 {
                border: solid #999 1px;
                color: #999;
                margin: 0px 0px;
                padding: 10px 10px;
                text-align: center;
            }
        }

        &.completed {
            color: variables.$success;
        }

        &.failed {
            color: variables.$danger;
        }

        &.locked, &.pending {
            color: variables.$pending;
        }

        &.planned {
            color: variables.$info;
        }
    }
}
