/*****************/
/*** DASHBOARD ***/
/*****************/

body.view-dashboard {
    .dashboard {
        margin-top: $gutter;
        &-section {
            margin-bottom: $gutter;
            header {
                h2 {
                    padding-top: $gutter;
                    margin-bottom: $gutter;
                    font-size: $font-size-llg;
                }
            }
        }

        &-items {
            display: grid;
            grid-gap: $gutter;
            grid-template-columns: repeat(2, 1fr);
            @media (min-width: 768px) {
                grid-template-columns: repeat(auto-fill, $dashboard-item-width);
            }
        }

        &-item {
            position: relative;
            height: 0;
            background-color: $gray-700;
            font-size: $font-size-base;
            line-height: 1;
            letter-spacing: .5px;

            span {
                display: inline-block;
                transform: translateY(0);
                transition: transform .3s;
            }

            padding: .375rem .375rem calc(#{$dashboard-items-ratio} - .375rem);
            @media (min-width: 667px) { padding: $gutter $gutter calc(#{$dashboard-items-ratio} - #{$gutter}); }

            &[class^="icon-"]:before, &[class*=" icon-"]:before {
                position: absolute;
                top: 50%; left: 0;
                width: 100%;
                // @media (min-width: 667px) { top: $gutter * .5; right: $gutter * .5; }
                margin-top: -1rem !important;
                opacity: .5;
                color: $white;
                font-size: 1.75rem;
                z-index: 1;
                filter: brightness(1);
                transition: filter .3s;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                width: 100%; height: $gutter * 1.5;
                background-color: $black;
                opacity: .2;
                transition: opacity .3s;
            }

            &.has-background-black:after {
                background-color: $gray-600;
            }

            &:hover {
                filter: brightness(1.2);
                span { transform: translateY(4px); }
                &:after { opacity: .5; }
                &[class^="icon-"]:before, &[class*=" icon-"]:before { opacity: .8; }
            }

            &[disabled] {
                pointer-events: none;
                opacity: .2;
            }
        }


        nav[role="search"] {
            display: flex;
            @media (min-width: 568px) { width: 22 * $gutter + $gutter; }
            input {
                margin-right: $gutter * .5;
                flex-grow: 1;
            }
        }

        .dashboard-section > .list-objects {
            display: table;
            border-collapse: collapse;
            min-width: 100%;

            // table header and table rows
            .table-header, .table-row {
                display: table-row;

                > div {
                    display: table-cell;
                    height: $gutter * 2;
                    white-space: nowrap;
                    border-bottom: 1px solid $gray-550;
                    vertical-align: baseline;

                    &:empty:not(.title-cell) {
                        width: 0; padding-left: 0; padding-right: 0; overflow: hidden;
                    }

                    &.select-cell {
                        padding-left: 0;
                        padding-right: 0;
                        input[type="checkbox"] {
                            position: relative; top: 1px;
                            cursor: cell;
                        }
                    }
                }
            }

            // table header
            .table-header {
                > div {
                    height: $gutter * 3.25;
                    padding: $gutter * 1.625 $gutter 0;
                    line-height: 1;
                    border-bottom-color: inherit;
                    &:first-letter { text-transform: uppercase; }
                    a { text-transform: capitalize; }

                    &.sort {
                        padding-bottom: 0;

                        a {
                            display: flex;
                            align-items: center;
                            border-bottom: 4px solid;
                            border-bottom-color: inherit;
                            padding-bottom: 8px;
                        }

                        a:after {
                            content: "";
                            width: 11px;
                            height: 11px;
                            border-right: 2px solid;
                            border-top: 2px solid;
                        }

                        &.up a:after { transform: rotate(-45deg) translateY(8px) translateX(4px); }
                        &.down a:after { transform: rotate(135deg) translateY(-4px) translateX(-9px); }
                    }
                }
            }

            // table rows
            .table-row {
                &.object-status-off, &.object-status-draft {
                    color: $gray-550;
                }

                &:hover {
                    background-color: $gray-800;
                }

                // table cells
                > div {
                    padding: $gutter $gutter $gutter 0;
                    &.narrow {
                        width: 1px;
                    }

                    &.title-cell {
                        max-width: 310px;
                        white-space: initial;
                        &:empty:before {
                            content: attr(untitled-label);
                            color: $gray-550;
                            font-style: italic;
                        }
                    }

                    &.thumb-cell {
                        line-height: 1;

                        img {
                            padding: 1px;
                            display: inline-block;
                            max-height: $gutter * 2;
                            max-width: $gutter * 2.5;
                            vertical-align: middle;
                            background-color: $gray-200;
                        }
                    }

                    &.type-cell {
                        padding-bottom: 3px;
                    }

                    &.buttons-cell {
                        padding-right: 0;
                        padding-bottom: 2px;

                        form {
                            display: inline-flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }


    .dashboard-area {
        @media (min-width: 1280px) {
            grid-template-columns: ($dashboard-item-width * 4 + $gutter * 3) auto;
            display:grid;
            grid-gap: $gutter;
        }
    }

}
