@use "../../../resources/styles/variables";

.date-ranges-list {
    display: flex;
    flex-direction: column;
    margin-bottom: variables.$gutter;

    .date-ranges-item {
        display: flex;
        flex-wrap: wrap;
        gap: variables.$gutter;
        margin-bottom: variables.$gutter * .5;
        align-items: flex-end;

        >div:nth-child(-n + 2) {
            flex: 0 1 250px;
            min-width: 0;

            input {
                max-width: 100%;
            }
        }

        .weekdays {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 100%;
            min-width: 0;
            gap: variables.$gutter * .5;

            label {
                display: inline-flex !important;
            }
        }
    }
}
