{# Calendar: use date_ranges if `DateRanges` association is set #}

{% if in_array('DateRanges', schema.associations) %}
<property-view inline-template :tab-open="tabsOpen" tab-name="calendar">
    <section class="fieldset">
        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Calendar') }}</h2>
        </header>

        <div v-show="isOpen" class="tab-container">
            <date-ranges-view ranges={{ object.attributes.date_ranges|json_encode }}>
            </date-ranges-view>
            {% do Form.unlockField('date_ranges') %}
        </div>
    </section>
</property-view>
{% endif %}
