{# Calendar: use date_ranges if `DateRanges` association is set #}

{% if in_array('DateRanges', schema.associations) %}
{% set key = 'Properties.%s.options.date_ranges.label'|format(object.type) %}
{% set plugin = config('Properties.%s.options.date_ranges.plugin'|format(object.type)) %}
{% set label = plugin ? __d(plugin, config(key)) : __(config(key)|default('Calendar')) %}
{% set key2 = 'Properties.%s.options.date_ranges.options'|format(object.type) %}
{% set options = config(key2)|default({"weekdays":{}}) %}
<property-view inline-template :tab-open="tabsOpen" tab-name="calendar">
    <section class="fieldset">
        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ label }}</h2>
        </header>

        <div v-show="isOpen" class="tab-container">
            <date-ranges-view ranges={{ object.attributes.date_ranges|json_encode }}
                :options={{ options|json_encode }}>
            </date-ranges-view>
            {% do Form.unlockField('date_ranges') %}
        </div>
    </section>
</property-view>
{% endif %}
