<property-view inline-template :tab-open="tabsOpen" :is-default-open=true tab-name="general">
    <section class="fieldset">
        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('General') }}</h2>
        </header>
        <div v-show="isOpen" class="tab-container">
            {{ element('Form/group_properties', {'properties' : properties.core, 'group': 'core'}) }}
        </div>
    </section>
</property-view>





