<form-file-upload inline-template>
    <div class="file has-name">
        <label class="file-label">
            {{ Form.file('file', {
                'class': 'file-input',
                'v-on:change': 'onFileChanged($event, "' ~ object.type ~ '")'
            }) | raw }}
            <span class="file-cta icon-upload file-label" v-show="!file?.name">{{ __('Choose a file') }}</span>
            <span class="file-name" v-cloak v-show="!file?.name">
                <span v-bind:title="file?.name" data-empty-label="{{ __('empty') }}"><: file?.name :></span>
            </span>
            {% if object.type == 'images' %}
            <figure class="thumb" v-if="file?.name">
                <img :src=previewImage() alt="" style="max-width: 100%;" />
            </figure>
            {% endif %}

            <a class="file-reset-button" v-on:click.prevent.stop="resetFile" v-show="file?.name"></a>
        </label>
    </div>
</form-file-upload>
