<form-file-upload inline-template>
    <div class="file has-name">
        <label class="file-label">
            {{ Form.file('file', {
                ':accept': 'fileAcceptMimeTypes("' ~ object.type ~ '")',
                'class': 'file-input',
                'v-on:change': 'onFileChange($event, "' ~ object.type ~ '")'
            }) | raw }}
            <span class="file-cta file-label" v-show="!file?.name">
                <icon-upload></icon-upload>
                <span class="ml-05">{{ __('Choose a file') }}</span>
            </span>
            <span class="file-name" v-cloak v-show="!file?.name">
                <span v-bind:title="file?.name" data-empty-label="{{ __('empty') }}"><: file?.name :></span>
            </span>
            {% if object.type == 'images' %}
            <figure class="thumb" v-if="file?.name">
                <img :src=previewImage() alt="" style="max-width: 100%;" />
            </figure>
            {% elseif not object.id %}
            <span class="file-name" v-if="file?.name">
                <: file?.name :>
            </span>
            {% endif %}

            <a class="file-reset-button" v-on:click.prevent.stop="resetFile" v-show="file?.name"></a>
        </label>
    </div>
</form-file-upload>
