<property-view inline-template :tab-open="tabsOpen" tab-name="history">
    <section class="history">
        <section class="fieldset">
            <header @click.prevent="toggleVisibility()" class="tab unselectable" :class="isOpen ? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ __('History') }}</h2>
                <span class="tag is-smallest is-black mx-05" v-show="!isLoading && totalObjects">
                    <: totalObjects :>
                </span>
            </header>
            <div v-show="isOpen" class="tab-container">
                <keep-alive><history-changes v-if="isOpen" :object="{{ object|json_encode }}" @count="onCount" :cansave="{{ Perms.canSave()|json_encode }}"></history-changes></keep-alive>
            </div>
        </section>
    </section>
</property-view>
