@use "../../../resources/styles/variables";

.locations {

    input, .order {
        border-radius: 2px;
    }

    .order {
        height: 0.5rem;
        margin-top: 1.75rem;
    }

    .location-form {
        .coordinates {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .get-coordinates {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-color: variables.$defaultBackground;
            border-color: variables.$white;
            color: variables.$white;
        }
    }

    button {
        text-transform: uppercase;
        background-color: variables.$defaultBackground;
        border-color: variables.$white;
        color: variables.$white;
    }

    .location-form {
        .location-buttons {
            display: flex;
            justify-content: flex-end;
            padding: 0 0.5rem;
            margin-top: 1rem;

            .remove {
                border: none;
            }
        }
    }
}

.autocomplete-title, .autocomplete-address {
    margin: 0;

    ul {
        margin: 0;
        background-color: variables.$white;
        max-height: 15em;
        overflow: auto;
        padding: 0 0.5rem;

        li {
            list-style-type: none;
            color: variables.$defaultBackground;
            padding: 0 0.5rem;
            border-bottom: 1px solid variables.$gray-500;
        }
    }

    &[data-loading='true']:after {
        content: '';
        border: 3px solid rgba(0,0,0,.12);
        border-right-color: rgba(0,0,0,.48);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        animation: autocompleteSpinner 1s linear infinite;
    }
}

@keyframes autocompleteSpinner {
    0% {
        transform: translateY(-50%) rotate(0deg)
    }

    100% {
        transform: translateY(-50%) rotate(359deg)
    }
}

.autocomplete-title-result, .autocomplete-address-result {
  border-top: 1px solid variables.$white;
  padding: 1rem;
  background: transparent;
}

.group {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: variables.$white;
}

.location-data {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
