{% for resourceName in resourceRelations %}
    <property-view inline-template :tab-open-at-start=true ref={{ resourceName }}>
        <section class="fieldset">
            <header class="tab tab-static unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                <h2>
                    {{ Layout.tr(resourceName)|lower }}
                    <span class="tag is-smallest is-black mx-05"
                        :class="!totalObjects? 'empty' : ''"><: totalObjects :>
                    </span>
                </h2>
            </header>

            {# TODO: review, commented out, v-show is always false!!! #}
            {# <div v-show="false" class="tab-container">
                <resource-relation-view inline-template
                    relation-name={{ resourceName }}
                    relation-label="{{ Layout.tr(resourceName) }}"
                    ref="relation"

                    @loading="onToggleLoading"
                    @count="onCount">

                    <div class="resource-relation-view"></div>
                </resource-relation-view>
            </div> #}

        </section>
    </property-view>
{% endfor %}

