.tree-view-node {
    color: $gray-100;
    padding: 0 $gutter * .5;
    line-height: 1;

    &.is-root {
        border-bottom: solid 1px $gray-800;
    }

    .node-element {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        &[data-status='draft'],
        &[data-status='off'] {
            color: $gray-500;
        }

        > label.node-label {
            flex: none !important;
            margin-right: $gutter;
            color: inherit;
            line-height: $gutter * 2;
            cursor: pointer;

            > input[type='checkbox'],
            > input[type='radio'] {
                margin-top: -$gutter * .125;
                margin-right: $gutter * .5;
                vertical-align: middle;
            }
        }

        > a {
            display: inline-block;
            padding: $gutter * .5 $gutter * 1.5;
            margin-left: $gutter;
            vertical-align: middle;
            text-transform: uppercase;
            border: solid 1px currentColor;
            border-radius: 2px;
            opacity: 0;

            &:focus {
                opacity: 1;
            }
        }

        .tree-params {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-left: 1.25em;
        }

        .tree-param {
            position: relative;
            margin: $gutter * .25 $gutter * .5 $gutter * .25 0;

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                opacity: 0;
                appearance: none;

                &:checked + label {
                    color: $white;
                    background: var(--color-module, #000);
                    border-color: transparent;
                }
            }

            label {
                display: flex !important;
                align-items: center;
                margin: 0;
                padding: 0.25em 0.5em;
                color: $gray-500;
                line-height: 1 !important;
                border-radius: 2em;
                border: solid 1px currentColor;
                cursor: pointer;
            }
        }

        > button {
            margin: 0;
            min-width: $gutter * 2;
            color: currentColor;
            background: transparent;
            border: 0;

            &.is-loading-spinner {
                width: 1.35em;
                height: 1em;
                &::after {
                    vertical-align: middle;
                    border-left-color: rgba(255, 255, 255, 0.75);
                }
            }
        }

        &:hover {
            > a {
                opacity: 1;
            }
        }
    }

    .node-element ~ .node-children {
        &:not(:empty) {
            margin-top: -$gutter;
            margin-left: 3 * $gutter * .125;
            padding-top: $gutter;
            padding-left: $gutter * .5;
            border-left: solid 1px rgba(255, 255, 255, 0.25);
        }
    }
}
