/*

██████╗░███████╗██████╗░██╗████████╗░█████╗░  ███╗░░░███╗░█████╗░███╗░░██╗░█████╗░░██████╗░███████╗██████╗░
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗  ████╗░████║██╔══██╗████╗░██║██╔══██╗██╔════╝░██╔════╝██╔══██╗
██████╦╝█████╗░░██║░░██║██║░░░██║░░░███████║  ██╔████╔██║███████║██╔██╗██║███████║██║░░██╗░█████╗░░██████╔╝
██╔══██╗██╔══╝░░██║░░██║██║░░░██║░░░██╔══██║  ██║╚██╔╝██║██╔══██║██║╚████║██╔══██║██║░░╚██╗██╔══╝░░██╔══██╗
██████╦╝███████╗██████╔╝██║░░░██║░░░██║░░██║  ██║░╚═╝░██║██║░░██║██║░╚███║██║░░██║╚██████╔╝███████╗██║░░██║
╚═════╝░╚══════╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝░░╚═╝  ╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝╚═╝░░╚═╝░╚═════╝░╚══════╝╚═╝░░╚═╝

BEdita Manager
*/
@use 'styles/variables';   // common variables used for color, margins, typography, media breakpoints, tag collections
@use 'styles/mixins';

// general
@use 'styles/base_normalize';
@use 'styles/base';
@use 'styles/layout';      // main grid base layout
@use 'styles/buttons';
@use 'styles/forms';
@use 'styles/forms_file';
@use 'styles/utility_classes';
@use 'styles/elements';
@use 'styles/columns';
@use 'styles/richtexteditor';

// elements
@use '../templates/Element/Form/form';
@use '../templates/Element/Form/calendar';
@use '../templates/Element/Form/locations';
@use '../templates/Element/Form/trees';
@use '../templates/Element/Form/publish_properties';
@use '../templates/Element/Form/relations';
@use '../templates/Element/Form/map';
@use '../templates/Element/Form/history';
@use '../templates/Element/Form/categories';
@use '../templates/Element/flash/flash';
@use '../templates/Element/Menu/colophon';
@use '../templates/Element/Menu/menu';
@use '../templates/Element/Menu/sidebar';
@use '../templates/Element/Modules/index_properties';
@use '../templates/Element/FilterBox/filter_box';
@use '../templates/Element/Panel/panel';

// components
@use 'js/app/components/dialog/dialog.scss';
@use 'js/app/components/ajax-login/ajax-login.scss';
@use 'js/app/components/tag-form/tag-form.scss';

// Pages
@use '../templates/Pages/Login/login';
@use '../templates/Pages/Dashboard/dashboard';
@use '../templates/Pages/Admin/admin';
@use '../templates/Pages/Import/import';
@use '../templates/Pages/Modules/modules-index';
@use '../templates/Pages/Modules/modules-view';
@use '../templates/Pages/Model/model-index';
@use '../templates/Pages/Model/model-view';
@use '../templates/Pages/Translations/view';

@use 'styles/non-production';

// vue
[v-cloak] {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    > * {
        display: none !important;
    }

    &:before {
        animation: spinAround .75s infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: variables.$gutter * 2;
        width: variables.$gutter * 2;
    }
}
