/*

██████╗░███████╗██████╗░██╗████████╗░█████╗░  ███╗░░░███╗░█████╗░███╗░░██╗░█████╗░░██████╗░███████╗██████╗░
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗  ████╗░████║██╔══██╗████╗░██║██╔══██╗██╔════╝░██╔════╝██╔══██╗
██████╦╝█████╗░░██║░░██║██║░░░██║░░░███████║  ██╔████╔██║███████║██╔██╗██║███████║██║░░██╗░█████╗░░██████╔╝
██╔══██╗██╔══╝░░██║░░██║██║░░░██║░░░██╔══██║  ██║╚██╔╝██║██╔══██║██║╚████║██╔══██║██║░░╚██╗██╔══╝░░██╔══██╗
██████╦╝███████╗██████╔╝██║░░░██║░░░██║░░██║  ██║░╚═╝░██║██║░░██║██║░╚███║██║░░██║╚██████╔╝███████╗██║░░██║
╚═════╝░╚══════╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝░░╚═╝  ╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝╚═╝░░╚═╝░╚═════╝░╚══════╝╚═╝░░╚═╝

BEdita Manager
*/

// Google Fonts
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;1,200;1,400&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=IBM+Plex+Serif:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap';

@import './styles/variables';   // common variables used for color, margins, typography, media breakpoints, tag collections
@import './styles/mixins';

// general
@import './styles/base_normalize';
@import './styles/base';
@import './styles/layout';      // main grid base layout
@import './styles/buttons';
@import './styles/forms';
@import './styles/forms_file';
@import './styles/utility_classes';
@import './styles/elements';
@import './styles/columns';
@import './styles/richtexteditor';

// elements
@import '../templates/Element/Form/form';
@import '../templates/Element/Form/calendar';
@import '../templates/Element/Form/locations';
@import '../templates/Element/Form/trees';
@import '../templates/Element/Form/publish_properties';
@import '../templates/Element/Form/relations';
@import '../templates/Element/Form/map';
@import '../templates/Element/Form/history';
@import '../templates/Element/Form/categories';
@import '../templates/Element/flash/flash';
@import '../templates/Element/Menu/colophon';
@import '../templates/Element/Menu/menu';
@import '../templates/Element/Menu/sidebar';
@import '../templates/Element/Modules/index_properties';
@import '../templates/Element/FilterBox/filter_box';
@import '../templates/Element/Panel/panel';

// components
@import './js/app/components/dialog/dialog.scss';
@import './js/app/components/ajax-login/ajax-login.scss';
@import './js/app/components/tag-form/tag-form.scss';

// Pages
@import '../templates/Pages/Login/login';
@import '../templates/Pages/Dashboard/dashboard';
@import '../templates/Pages/Admin/admin';
@import '../templates/Pages/Import/import';
@import '../templates/Pages/Modules/modules-index';
@import '../templates/Pages/Modules/modules-view';
@import '../templates/Pages/Model/model-index';
@import '../templates/Pages/Model/model-view';
@import '../templates/Pages/Translations/view';

@import './styles/non-production';

// vue
[v-cloak] {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    > * {
        display: none !important;
    }

    &:before {
        animation: spinAround .75s infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: $gutter * 2;
        width: $gutter * 2;
    }
}
