.filter-type {
    display: flex;
    flex-direction: column;

    label {
        cursor: pointer;
        &:not(:last-child) { margin-bottom: 1px; }

        div {
            display: flex;
            align-items: center;
            min-height: $gutter * 2;
            padding: 0 $gutter * .5;
            background-color: $gray-950;
            color: $gray-550;

            .bullet {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 8px;
                opacity: .2;
                background-color: $white;
            }

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                min-width: 0;
                font-weight: 300;
                letter-spacing: .5px;
                font-size: 11px;
                text-transform: capitalize;
            }
        }
        &:first-child {
            margin-bottom: 8px;
            div {
                justify-content: center;
                text-align: center;
            }
            input[type=checkbox]:not(:checked) ~ div {
                background-color: $gray-950 !important;
            }
        }

        input[type=checkbox] {
            display: block;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
        }

        input[type=checkbox]:checked ~ div {
            color: $white;
            background-color: $black;
            .bullet {
                opacity: 1;
            }
        }
    }
}
