#flashMessagesContainer {

    .message, .background-mask {
        position: fixed;
        left: 0;
        width: 100%;
    }

    .background-mask {
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .25s;
        cursor: pointer;
    }

    .message {
        bottom: 0;
        max-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $gutter * .75 $gutter;
        border-top: .5rem solid transparent;
        background-color: $gray-100;
        color: $gray-900;
        font-size: $font-size-sm;

        transition: transform .25s;
        // when parent has not class 'on'
        transform: translateY(100%);

        >* {
            flex: 1 0 auto;
            &:not(:last-child) { margin-top: $gutter * .25; }
        }

        // colors
        &.success   { border-color: $success; }
        &.info      { border-color: $info; }
        &.error     { border-color: $error; }
        &.warning   { border-color: $warning; }
        &.success   [class^="icon-"] { color: $success; }
        &.info      [class^="icon-"] { color: $info; }
        &.error     [class^="icon-"] { color: $error; }
        &.warning   [class^="icon-"] { color: $warning; }

        h2 {
            display: flex;
            align-items: center;
            margin: 0;
            padding-right: $gutter * 1.5;
            font-size: $font-size-llg;
            [class^="icon-"] { margin-top: 2px; }
        }

        a { cursor: pointer; }
        .dump {
            margin-top: $gutter * .75;
            padding: $gutter * .75;
            width: 100%;
            flex: 1;
            overflow: auto;
            background-color: $gray-200;
            code {
                font-family: monospace;
                font-size: $font-size-sm;
                pre {
                    font-size: 11px;
                }
            }
        }

        .close-button {
            position: absolute;
            top: $gutter * .5;
            right: $gutter;
        }
    }

    &.on {
        .background-mask {
            background-color: rgba(0, 0, 0, .65);
        }
        .message {
            transform: translateY(0);
        }
    }

}



// login
body.view-login {
    #flashMessagesContainer {
        position: absolute;
        bottom: 100%; left: 0;
        width: 180px;
        height: auto;
        margin-bottom: 1px;
        @media screen and (max-width: 780px) {
            width: 100%;
        }

        .message {
            position: static;
            margin: 0;
            padding: $gutter * .25 $gutter * .5;
            width: 100%;
            min-height: auto;
            border: none;
            background-color: $error;
            color: #fff;

            h2 {
                margin: 0; padding: 0;
                font-size: $font-size-sm;
                line-height: $line-height-base;
            }

            // no multiple messages
            display: none;
            &:last-of-type {
                display: block;
            }
        }
    }
}
