#flashMessagesContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    .background-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .25s;
        pointer-events: all;
        cursor: pointer;
    }

    .message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 auto;
        margin-top: auto;
        padding: $gutter * .75 $gutter;
        max-height: 50%;
        max-width: 70%;
        border-top: 4px solid transparent;
        background-color: $gray-100;
        color: $gray-900;
        font-size: $font-size-sm;
        transition: transform .25s;
        // when parent has not class 'on'
        transform: translateY(100%);
        pointer-events: all;

        > * {
            flex: 1 0 auto;
        }

        // colors
        &.success    { border-color: $success; }
        &.info       { border-color: $info; }
        &.error      { border-color: $error; }
        &.warning    { border-color: $warning; }
        &.success h2 [class^="icon-"] { color: $success; }
        &.info h2    [class^="icon-"] { color: $info; }
        &.error h2   [class^="icon-"] { color: $error; }
        &.warning h2 [class^="icon-"] { color: $warning; }

        h2 {
            display: flex;
            align-items: center;
            margin: 0;
            padding-right: $gutter * 1.5;
            font-size: $font-size-llg;
            [class^="icon-"] { margin-top: 2px; }
        }

        a { cursor: pointer; }
        .dump {
            margin-top: $gutter * .75;
            padding: $gutter * .75;
            width: 100%;
            flex: 1;
            overflow: auto;
            background-color: $gray-200;
            code {
                font-family: monospace;
                font-size: $font-size-sm;
                pre {
                    font-size: 11px;
                }
            }
        }

        .icon-cancel-1 {
            position: absolute;
            top: $gutter * .5;
            right: $gutter;
            cursor: pointer;
            color: $black;

            &::before {
                margin: 0;
            }
        }
    }

    &.on {
        .background-mask {
            background-color: rgba(0, 0, 0, .65);
        }
        .message {
            transform: translateY(0);
        }
    }

}
