.toolbar_pagination {
    .creation {
        display: inline-block;
    }
    .results {
        display: inline-block;
    }
    .pagination {
        display: inline-block;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-right: .5em;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .pageSize {
        display: inline-block;
    }
}
