.toolbar-filters {
    input.search {
        ::placeholder {
            color: #DDD;
        }
    }

    .filter-list {
        order: 4;
        width: 100%;

        .filter-container {
            padding: $gutter * .5;
        }
    }
}
