.toolbar-filters {
    input.search {
        ::placeholder {
            color: #DDD;
        }
    }

    .filter-list {
        order: 3;
        display: flex;

        .filter-container {
            padding: $gutter * .5;
            display: flex;
            align-items: center;

            .filter-name {
                border-bottom: 1px solid $gray-600;
                margin: 0 $gutter * 0.5;
            }
        }
    }

    .pages-buttons {
        display: flex;
    }
}
