{% set here=Link.here({'exclude': 'q'}) %}

<div class="toolbar-filters">

    <input type="text"
        class="search"
        name="filterquery"
        placeholder="{{ __('Search in BEdita') }}"
        {# value="{{ Link.query('q') }}" #}
        v-model="searchQuery"
        @keyup.enter="search()"/>

    <button name="applysearch" v-on:click="search()">{{ __('Apply') }}</button>
    <button name="resetsearch" v-on:click="resetResearch()">{{ __('Reset') }}</button>

</div>
