.toolbar-filters {
    input.search {
        ::placeholder {
            color: #DDD;
        }
    }

    .filter-list {
        order: 3;
        display: flex;
        width: 100%;

        .filter-container {
            padding: $gutter * .5;
        }
    }

    .pages-buttons {
        display: flex;
    }
}
