.toolbar-pagination {
    margin-bottom: $gutter;

    .results {
        display: inline-block;
        margin-right: 1em;
    }
    .pagination {
        display: inline-block;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-right: .5em;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    .page-size {
        display: inline-block;
        > select {
            margin-left: .5em;
        }
    }
}
