body.view-model {
    .module-form form section.fieldset {
        input[disabled] {
            background-color: $gray-700;
            color: $gray-100;
        }

        .link-to-parent {
            display: block;
            margin-top: -.75 * $gutter;
        }
    }

    .properties {
        margin-top: $gutter * 2;

        &-container {
            display: grid;
            grid-gap: $gutter;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
