body.view-model {

    // true
    .module-index {
        .list-objects {
            .table-row div.name-cell .tag {
                transform: translateY(4px);
            }
        }
    }

    .model-index {
        .list-resources {
            .add-row {
                button {
                    border-radius: 5%;
                }
            }

            .index-entry {
                display: flex;

                .first-cell {
                    button {
                        min-width: $gutter * 2;
                    }
                }

                &.editing-property-type {
                    border-bottom: 1px dashed $gray-200;
                }

                &.delete-property-type {
                    opacity: 0.5;

                    input, textarea {
                        user-select: none;
                        pointer-events:none;
                        cursor: default;
                    }

                    .remove-action {
                        display: none;
                    }

                    .undo-remove-action {
                        display: block;
                    }

                }

                .undo-remove-action {
                    display: none;
                }

                div {
                    padding: $gutter * .25 $gutter * .5;
                    vertical-align: middle;

                    &.first-cell, &.action-cell {
                        flex: 0 0 65px;

                        i {
                            margin-left: $gutter * .5;
                        }
                        input {
                            margin-right: $gutter * .5;
                        }
                    }

                    &.primary, &.name-cell, &.inverse_name-cell {
                        flex: 1;
                    }

                    &.secondary, &.params-cell, &.enabled-cell, &.is_abstract-cell {
                        flex: 2;
                    }
                }

                &.new-row div {
                    &.primary, &.secondary, &.name-cell, &.inverse_name-cell, &.params-cell, &.enabled-cell, &.is_abstract-cell {
                        padding: $gutter * 0.25 $gutter * 0.5;
                    }
                }

                input, textarea {
                    background: transparent;
                    color: $gray-100;
                    border: 1px solid transparent;

                    &:hover, &:focus {
                        border: 1px solid $gray-100;
                    }
                }

                textarea {
                    min-height: $gutter * 2;
                    width: 100%;
                    // resize: none;
                }
            }

            > nav {
                display: flex;

                &.table-header {
                    border-bottom: 1px solid $gray-700;

                    .first-cell, .action-cell {
                        flex: 0 0 65px;
                    }

                    a.sort {
                        display: flex;
                        align-items: center;

                        &:after {
                            content: "›";
                            margin-left: 10px;
                            display: inline-block;
                            font-size: 1.5em;
                            line-height: 21px;
                        }

                        &.up:after {
                            transform: rotate(-90deg);
                        }
                        &.down:after {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            > a {
                display: inline-flex;
                width: 100%;

                &:hover {
                    background-color: $gray-700;

                    .inverted {
                        background-color: $gray-700;
                    }
                }
            }

            > nav, > .resource-status-on {
                div {
                    display: flex;
                    padding: $gutter * .5;
                    white-space: nowrap;
                    vertical-align: middle;

                    &.primary, &.name-cell, &.inverse_name-cell {
                        flex: 1;
                    }

                    &.secondary, &.params-cell, &.enabled-cell, &.is_abstract-cell {
                        flex: 2;
                    }

                    &.title-cell {
                        max-width: 310px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &:empty:before {
                            content: attr(untitled-label);
                            color: $gray-600;
                            font-style: italic;
                        }
                    }

                    &.thumb-cell {
                        max-width: $gutter * 2.5;
                        height: $gutter * 2;
                        padding: 0;
                        overflow: hidden;
                        img {
                            padding: 1px;
                            display: inline-block;
                            max-height: 100%;
                            max-width: 100%;
                            vertical-align: middle;
                            background-color: $gray-200;
                        }
                        .icon {
                            display: inline-block;
                            width: 100%;
                            font-size: 18px;
                            padding: 6px;
                        }
                    }

                    &:last-child {
                        text-align: right;
                        > form {
                            display: inline-block;
                        }
                    }
                }
            }

            button {
                line-height: initial;
            }
        }

        .bulk-actions {
            border-top: 1px solid $gray-700;

            header {
                margin: $gutter 0 $gutter * .5;
                width: 100%;
                opacity: .3;
            }

            &.enabled {
                header { opacity: 1; }
            }

            nav {
                display: flex;
                form {
                    margin-right: $gutter;
                    &:last-of-type {
                        margin-right: 0;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
