<div class="head">
    <h1>{{ __('An Internal Error Has Occurred') }}</h1>
</div>

<div class="main">

    <p class="error">
        {{ message }}
    </p>

    {% if config('debug') %}

        {% if error %}
        <p class="error">
            <strong>Error in: </strong>
            {{ error.getFile }}, line {{ error.getLine }}
        </p>
        {% endif %}

    {% endif %}

</div>
