body.view-module {
    .module-header {
        min-height: $dashboard-item-height - ($gutter * 3.25) - $gutter; // minus table header and margin
        margin-bottom: $gutter;
    }

    .module-index {
        .list-objects {
            display: table;
            border-collapse: collapse;
            min-width: 100%;

            // table header and table rows
            .table-header, .table-row {
                display: table-row;

                > div {
                    display: table-cell;
                    height: $gutter * 2;
                    white-space: nowrap;
                    border-bottom: 1px solid $gray-550;
                    vertical-align: baseline;

                    &:empty:not(.title-cell) {
                        width: 0; padding-left: 0; padding-right: 0; overflow: hidden;
                    }

                    &.select-cell {
                        padding-left: 0;
                        padding-right: 0;
                        input[type="checkbox"] {
                            position: relative; top: 1px;
                            cursor: cell;
                            left: 5px;
                        }
                    }
                }
            }

            // table header
            .table-header {
                > div {
                    height: $gutter * 3.25;
                    padding: $gutter * 1.625 $gutter 0;
                    line-height: 1;
                    border-bottom-color: inherit;
                    &:first-letter { text-transform: uppercase; }
                    a { text-transform: capitalize; }

                    &.sort {
                        padding-bottom: 0;

                        a {
                            display: flex;
                            align-items: center;
                            border-bottom: 4px solid;
                            border-bottom-color: inherit;
                            padding-bottom: 8px;
                        }

                        a:after {
                            content: "";
                            width: 11px;
                            height: 11px;
                            border-right: 2px solid;
                            border-top: 2px solid;
                        }

                        &.up a:after { transform: rotate(-45deg) translateY(8px) translateX(4px); }
                        &.down a:after { transform: rotate(135deg) translateY(-4px) translateX(-9px); }
                    }
                }
            }

            .selected {
                background-color: $gray-800;
            }

            // table rows
            .table-row {
                &.object-status-off, &.object-status-draft {
                    color: $gray-550;
                }

                &:hover {
                    background-color: $gray-700;
                }

                .select-cell:after {
                    display: none;
                    vertical-align: bottom;
                    content: "";
                    width: $gutter * 1.5;
                    height: $gutter * 1.5;
                    margin-left: $gutter * 0.5;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100%;
                }
                &.future {
                    .select-cell:after {
                        display: inline-block;
                        background-image: url('/svg/iconFuture.svg');
                    }
                }
                &.expired {
                    .select-cell:after {
                        display: inline-block;
                        background-image: url('/svg/iconExpired.svg');
                    }
                }
                &.locked {
                    .select-cell:after {
                        display: inline-block;
                        background-image: url('/svg/iconLocked.svg');
                    }
                }

                // table cells
                > div {
                    padding: $gutter * 1.5 $gutter $gutter * .375;
                    &.narrow {
                        width: 1px;
                    }

                    &.title-cell {
                        max-width: 310px;
                        white-space: initial;
                        &:empty:before {
                            content: attr(untitled-label);
                            color: $gray-550;
                            font-style: italic;
                        }
                    }

                    &.thumb-cell {
                        line-height: 1;

                        img {
                            padding: 1px;
                            display: inline-block;
                            max-height: $gutter * 2;
                            max-width: $gutter * 2.5;
                            vertical-align: middle;
                            background-color: $gray-200;
                        }
                    }

                    &.type-cell {
                        padding-bottom: 3px;
                    }

                    &.buttons-cell {
                        padding-right: 0;
                        padding-bottom: 2px;

                        form {
                            display: inline-flex;
                            justify-content: flex-end;
                        }

                        button {
                            height: $gutter * 2;
                        }
                    }
                }
            }
        }

        .module-footer {
            display: flex;
            flex-wrap: wrap-reverse;
            margin: $gutter 0;
            align-items: flex-end;

            @media screen and (max-width: 1023px) {
                > * {
                    margin-bottom: $gutter;
                }
            }

            .pagination {
                margin-left: auto;
            }
        }

        .bulk-actions {
            .bulk-header {
                font-size: $font-size-base;

                & + * {
                    margin-top: $gutter;
                }
            }

            > .disabled {
                opacity: .3;
            }

            form {
                .fieldset {
                    display: inline-flex;
                    align-items: center;
                    margin-bottom: $gutter;

                    & > *:not([type='hidden']) ~ *:not([type='hidden']) {
                        margin-left: $gutter * .5;
                    }

                    &[disabled] {
                        .clear-button {
                            display: none;
                        }

                        .input.textarea {
                            border-color: #adb5bd !important;
                        }
                    }

                    .input,
                    .input > * {
                        display: inline-flex;
                        align-items: center;
                    }

                    .input label:first-of-type {
                        margin-right: $gutter;
                    }

                    label {
                        margin-right: $gutter * .5;
                    }
                }

                .bulk-categories,
                .bulk-folders {
                    & > * {
                        display: inline-flex;
                        align-items: center;
                    }
                }

                .bulk-folders .folder-picker {
                    margin-left: $gutter !important;
                }
            }
        }
    }

    // TODO: da fare meglio
    &.module-media, &.module-images, &.module-video, &.module-audio, &.module-objects {
        .module-index .list-objects > a div.title-cell {
            max-width: 210px;
        }
    }
}
