/*****************/
/*** LEFT MENU ***/
/*****************/

.left-menu__project {
    display: block;
    box-sizing: border-box;
    background: #FFF url(../img/BElogogray.gif) no-repeat right bottom;
    background-size: 50%;
    font: normal 1.75em Georgia, 'Times New Roman', Times, serif;
    line-height: 1em;
    min-height: 110px;
    padding: .5em;
    color: #960;
    border-bottom: none;
}

.left-menu__user-menu {
    list-style: none;
    padding: 0;
    border-bottom: .5em solid grey;
    border-top: .5em solid grey;
}
.left-menu__user-menu li {
    line-height: 1.5em;
    padding: .5em 0;
    border-bottom: 1px solid #999;
}
.left-menu__user-menu li:last-child {
    border-bottom: none;
}
.left-menu__user-menu a:hover {
    color: white;
}

.left-menu__colophon {
    color: black;
    padding: 1em 0;
}

/*********************/
/*** COMMANDS MENU ***/
/*********************/
.commands-menu {
    flex-basis: 140px;
    min-width: 140px;
    margin-right: 10px;
}

.commands-menu__module {
    display: block;
    box-sizing: border-box;
    line-height: 1em;
    font-size: 1.2em;
    width: 100%;
    height: 110px;
    padding: 1em;
    margin-bottom: 10px;
    color: white;
    background: rgba(0, 0, 0, .1);
    border-bottom: 1.75em solid rgba(0, 0, 0, .3);
}

.commands-menu__module--documents {
    background-color: #f60;
}
.commands-menu__module--news {
    background-color: #036;
}
.commands-menu__module--events {
    background-color: #09c;
}
.commands-menu__module--media, .commands-menu__module--audio, .commands-menu__module--files, .commands-menu__module--images, .commands-menu__module--videos {
    background-color: #f03;
}
.commands-menu__module--locations {
    background-color: #641;
}
.commands-menu__module--profiles {
    background-color: #093;
}
.commands-menu__module--users {
    background-color: #555;
}
