.commands-menu {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
        margin-bottom: $gutter;
    }

    button, input[type=submit] {
        width: 100%;
    }

    a {
        display: block;
    }

    > .commands-module-box {
        position: relative;
        width: 100%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: $dashboard-item-height;

            background-color: $gray-600;
            color: white;
        }
    }

    > .commands-buttons {
        a {
            display: block;
            height: 2rem;
            margin-bottom: 2px;
            border-radius: 2px;
            background-color: white;
            color: #222;
            text-align: center;
            line-height: 2rem;
        }

        button, input[type=submit] {
            margin-bottom: 2px;
        }

        .listobjnav  {
            text-align:center;
            color:#DDD;
            font-size:4em;
        }

        .listobjnav  a {
            background-color: transparent;
            color:yellowgreen;
            display: inline-flex;
        }

        .listobjnav  a:Hover {
            color:green;
        }

        .listobjnav > div {
            color:#DDD;
            font-size:11px;
            text-align:center;
        }
    }

    > .commands-footer {
        flex-grow: 1;
    }
}

.commands-menu ~ div {
    min-width: 90px + $gutter;
}
