<div class="commands-menu">
    <div class="commands-module-box">
        {{ Layout.moduleLink()|raw }}
    </div>

    <div class="commands-buttons">
        {{ _view.fetch('commands-buttons')|raw }}
        {% if currentModule.hints.multiple_types and types.right is iterable %}
            {% element 'filter_type' %}
        {% endif %}
    </div>

    <div class="commands-links">
        {{ _view.fetch('commands-links')|raw }}
    </div>

    <div class="commands-footer">
        {{ _view.fetch('commands-footer')|raw }}
    </div>
</div>
