<div class="element-menu">
    {{ Html.link((project.name ?: 'BEdita 4'), '/', {'class': "project"})|raw }}
    {# <ul class="menu-links">{{ _view.fetch('links')|raw }}</ul> #}

    {#{% element 'tree' %}#}
    {% element 'Menu/colophon' %}


    {% if user %}
    <ul class="menu-links">
        {# Localization link(s) #}
        {% for code, name in I18n.getLanguages() if code != I18n.getLang() %}
            <li>
                {{ Html.link(name, I18n.changeUrlLang(code, config('I18n.switchLangUrl')))|raw }}
            </li>
        {% endfor %}
        <li>› {{ Html.link(__('log out'), {'_name': 'logout'})|raw }}</li>
    </ul>
    {% endif %}

</div>
