body.view-model {
    .module-form form section.fieldset {
        input[disabled] {
            background-color: $gray-700;
            color: $gray-100;
        }

        .link-to-parent {
            display: block;
            margin-top: -.75 * $gutter;
        }
    }

    .modules-view section:not(:first-child) {
        margin-top: $gutter * 3;
    }


    .relations {
        &-container {
            .relations-group {
                display: grid;
                grid-gap: 2px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
            }
        }
    }

    .properties {
        &-container {
            display: grid;
            grid-gap: $gutter;
            grid-template-columns: repeat(1, 1fr);
            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }

        .buttons-container {
            display: flex;
            flex-direction: column;
            button { margin-bottom: $gutter * .5; }
        }
    }
}
