/*****************/
/*** DASHBOARD ***/
/*****************/

body.view-dashboard {
    .dashboard {
        &-section {
            & ~ .dashboard-section {
                margin-top: $gutter * 3;
            }

            header h2 {
                h2 {
                    margin-bottom: $gutter * .75;
                }
            }
        }

        &-items {
            display: grid;

            grid-gap: .75rem;
            @media (min-width: 568px) { grid-gap: 1rem; }

            grid-template-columns: repeat(2, 1fr);
            @media (min-width: 768px) {
                grid-template-columns: repeat(auto-fill, $dashboard-item-width);
            }
        }
        .dashboard-items + .dashboard-items {
            margin-top: $gutter;
        }

        &-item {
            position: relative;
            height: 0;
            background-color: $gray-700;
            font-size: $font-size-base;
            line-height: 1;

            span { display: inline-block; transform: translateY(0); transition: transform .3s; }

            padding: .375rem .375rem calc(#{$dashboard-items-ratio} - .375rem);
            @media (min-width: 667px) { padding: .675rem .75rem calc(#{$dashboard-items-ratio} - .675rem); }

            &:after {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                width: 100%; height: $gutter * 1.5;
                background-color: $black;
                opacity: .2;
                transition: opacity .3s;
                will-change: opacity;
            }

            &:hover {
                filter: brightness(1.1);
                span { transform: translateY(4px); }
                &:after {
                    opacity: .5;
                }
            }

            &[disabled] {
                pointer-events: none;
                opacity: .2;
            }

            &[class^="icon-"]:before, &[class*=" icon-"]:before {
                position: absolute;
                top: $gutter * .25; right: $gutter * .25;
                @media (min-width: 667px) { top: $gutter * .5; right: $gutter * .5; }
                margin: 0 !important;
                opacity: .75 !important;
                color: inherit;
                font-size: $font-size-sssm;
                z-index: 10;
            }
        }

        // utility icons
        .dashboard-items.dashboard-utility {
            .dashboard-item {
                &[class^="icon-"]:before, &[class*=" icon-"]:before {
                    top: 50%; left: 0;
                    width: 100%;
                    margin-top: -1rem !important;
                    color: $white;
                    font-size: 2rem;
                    opacity: .2 !important;
                }

                &:after {
                    content: none;
                    display: none;
                }

                &:hover {
                    &[class^="icon-"]:before, &[class*=" icon-"]:before { opacity: .8 !important ; }
                }
            }
        }
    }
}
