@use "../../../resources/styles/variables";

.menu-colophon {
    padding: variables.$gutter * 1.5 0 0;
    border-top: 1px solid #495057;
    color: variables.$gray-500;
    font-size: 12px;
    font-weight: 100;

    @media (min-width: 568px) {
        padding: 0;
        border: none;
    }

    span {
        display: block;
    }
    span.error {
        color: red;
    }
}
