@use "../../../resources/styles/variables";

.layout-header {

    .menu-bar {
        display: grid;
        column-gap: variables.$gutter;
        grid-template-columns: 1fr auto;


        nav[role="menu"] {
            display: grid;
            row-gap: variables.$gutter * .5;
            grid-template-columns: repeat(auto-fill, variables.$gutter * 2.5);
            .menu-item-label { display: none; }
            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(auto-fill, variables.$gutter * 3);
                .menu-item-label { display: block; }
                .menu-item-short-label { display: none; }
            }

            .menu-item {
                display: flex;
                flex-direction: column;
                padding-top: variables.$gutter;

                &-color-bar {
                    height: variables.$gutter * .625;
                    background-color: variables.$gray-700;
                }

                &-label, &-short-label {
                    margin-top: variables.$gutter * .25;
                    font-size: variables.$font-size-smallest;
                    letter-spacing: .5px;
                    text-transform: lowercase;
                }

                &:hover, &.current {
                    padding-top: 0;
                    .menu-item-color-bar {
                        height: variables.$gutter + variables.$gutter * .625;
                    }
                }
            }
        }


        nav[role="group"] {
            position: relative;

            .popup {
                display: flex;
                position: absolute;
                top: variables.$gutter * 4;
                right: 0;

                button {
                    min-width: 38px;
                    margin-left: variables.$gutter * .5;
                    font-size: variables.$font-size-ssm;
                }
            }
        }
    }
}
