// base

body {
    overflow-x: hidden;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    background-color: $gray-900; // best practice, apply a default `background-color`
    // background-image: linear-gradient(160deg, $gray-900 0%, $gray-800 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: $white;
    font-weight: $font-weight-base;
    text-align: left;               // explicit initial text-align value so that we can later use `inherit`
}

*,
*::before,
*::after { box-sizing: border-box; }

h1 { margin-bottom: $gutter; }
h1, h2, h3 {
    margin-top: 0;
    line-height: 1.125em;
    font-weight: $font-weight-base;
}

p { margin: 0; }

a { color: inherit; }
a,
a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

b, strong {
    font-size: 500;
}

figure { margin: 0; }

fieldset { border: none; }

textarea:focus,
input:focus { outline: none; box-shadow: inset 0 0 6px rgba(0, 0, 0, .2); }

label, th { font-weight: normal; }

div, section {
    &:focus { outline: none; }
}
