*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    margin: $gutter;
    background-color: $gray-500;    // best practice, apply a default `background-color`
    color: $gray-900;
    text-align: left;               // explicit initial text-align value so that we can later use `inherit`

    // display: flex;
    // justify-content: stretch;
}

a {
    color: inherit;
}
a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

fieldset {
    border: none;
}

label {
    font-weight: bold;
}

.hide-text {
    @include hide-text();
}


.modules-menu {
    display: flex;
    flex-direction: column;

    .modules-menu__modules {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .modules-menu__module {
            width: 20px;
            height: 20px;
            margin-right: 1px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                @extend .hide-text;

                &:before {
                    content: attr(title);
                    bottom: 128%;
                    z-index: 1;
                    margin-left: -110px;
                    padding: 5px;
                    width: 220px;
                    border-radius: 4px;
                    background-color: magenta;
                    line-height: 1.42em;
                    text-align: center;
                }
            }
        }
    }
}
