*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
    font-family: $font-family-base;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    background-color: $white; // best practice, apply a default `background-color`
    background-image: linear-gradient(160deg, $gray-500 0%, $white 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: $gray-900;
    text-align: left;               // explicit initial text-align value so that we can later use `inherit`
}

a {
    color: inherit;
}
a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

fieldset {
    border: none;
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
}

label {
    font-weight: bold;
}

.hide-text {
    @include hide-text();
}

