// simple tag
.tag:not(body) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin-right: $gutter * .25;
    margin-bottom: $gutter * .25;
    padding-left: .75em;
    padding-right: .75em;
    background-color: $gray-600;
    border-radius: 4px;
    color: $white;
    font-size: $font-size-sssm;
    line-height: 1.5;
    white-space: nowrap;
    user-select: none;

    &.is-smallest {
        font-size: 10px;
        height: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
        line-height: 16px;
    }

    &.is-black {
        background-color: $black;
        color: $gray-100;
    }

    &.is-dark {
        background-color: $gray-900;
        color: $gray-100;
    }

    &.empty {
        opacity: .3;
    }
}
.tag-group {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    .tag {
        margin-right: 0;
        &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-right: $gutter * .25;
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}


// simple box
.box {
    display: block;
    padding: $gutter * .5;
    border-radius: 4px;
    background-color: $gray-200;
    color: $gray-900;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    overflow: hidden;
}

// flex columns
.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($gutter * .5);
    margin-right: -($gutter * .5);
    margin-top: -($gutter * .5);
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: ($gutter * .5);
    &.is-1 {
        flex: none;
        width: 100%;
    }
    &.is-2 {
        flex: none;
        width: 50%;
    }
    &.is-3 {
        flex: none;
        width: 33.33333%;
    }
    &.is-4 {
        flex: none;
        width: 25%;
    }

    &.is-one-third-1024 {
        @media screen and (min-width: 769px) {
            flex: none;
            width: 33.33333%;
        }
    }
    &.is-one-quarter-1024 {
        @media screen and (min-width: 769px) {
            flex: none;
            width: 25%;
        }
    }

    &.is-one-third-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            width: 33.33333%;
        }
    }
    &.is-one-quarter-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            width: 25%;
        }
    }
    &.is-one-fifth-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            width: 20%;
        }
    }

    &.is-one-eight-bigscreen {
        @media screen and (min-width: 1580px) {
            flex: none;
            width: 12.5%;
        }
    }


    &.is-one-third-768 {
        @media screen and (max-width: 768px) {
            flex: none;
            width: 33.33333%;
        }
    }
    &.is-one-quarter-768 {
        @media screen and (max-width: 768px) {
            flex: none;
            width: 25%;
        }
    }
}



// pagination
nav.pagination {
    margin: 0 0 $gutter;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > div {
        margin: 0 $gutter *.5;
        &:last-child {
            margin-right: 0;
            display: flex;
            button {
                margin-left: $gutter * .5;
                min-width: 2.5em;
                border-radius: 4px;
                &:first-of-type {
                    margin-left: $gutter * 1.5;
                }

                &.current-page {
                    pointer-events: none
                }
            }
        }
    }
}


// small circled notification
.small-notification {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 8px;
    background-color: $black;
    border-radius: 50%;
    width: $gutter;
    text-align: center;
    height: $gutter;
    font-size: $font-size-sssm;
    line-height: $gutter;
    overflow: hidden;
    &.empty {
        opacity: .3;
    }
}


// a css only close/delete button
button.close-button,
a.close-button {
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, .25);
    &:hover { background-color: rgba(10, 10, 10, .5); }
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: $gutter * 1.25;
    width: $gutter * 1.25;
    max-height: $gutter * 1.25;
    max-width: $gutter * 1.25;
    min-height: $gutter * 1.25;
    min-width: $gutter * 1.25;
    outline: 0;
    position: relative;
    vertical-align: top;
    &:before {
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        height: 2px;
        width: 50%;
    }
    &:after {
        background-color: #fff;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        height: 50%;
        width: 2px;
    }
}


// loader
.is-loading-spinner:after {
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
}

@keyframes spinAround {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}

// create-new-object

.upload-files {
    display: flex;
    flex-direction: column;
    height: 100%;

    section {
        flex-grow: 1;
    }

    .upload-info {
        // display: flex;
        flex-direction: column;
        padding: $gutter;
        border: 1px solid rgba(220,220,220,0.1);
        border-radius: $gutter * 0.25;
        margin: $gutter * 0.5;

        .name {
            padding: 0 0 $gutter *.5 0;
        }

        .error {
            margin: $gutter * .5;
        }

        button.is-loading-spinner {
            &:after {
                border-color: #fff;
                border-right-color: transparent;
                border-top-color: transparent;
            }
        }

        button {
            background-color: black;
            color: white;
            float: right;
            margin-right: $gutter * 0.25;
            height: 24px;
            width: 24px;
            margin-bottom: $gutter * .5;

            &:before {
                margin: 0;
            }

            &.success {
                color: #1bff94;
                cursor: default;
            }

            &.abort {
                &:hover {
                    color: #ff1b39;
                    background-color: white;
                }
            }

            &.retry {
                &:hover {
                    color: white;
                    background-color: $gray-800;
                }
            }
        }

        .progress-bar {
            display: flex;
            min-height: 20px;
            width: 100%;
            border-radius: 20px;
            background: rgba(50,50,50, 0.8);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

            .progress-bar-status {
                display: block;
                height: 14px;
                margin: 3px;
                border-radius: 20px;
            }
            .progress-bar-status.in-progress {
                background-color: rgba(100,200,255,0.7);
                min-width: 14px;
            }

            .progress-bar-status.done {
                background-color: #1bff94;
            }

            .progress-bar-status.error {
                background-color: #ff1b39;
            }

            .progress-bar-status.cancelled {
                background-color: #4e420c;
            }

            @keyframes pulse {
                0% { opacity: 1 }
                25% { opacity: 0.8 }
                50% { opacity: 0.6 }
                75% { opacity: 0.4 }
                100% { opacity: 0.2 }
            }
        }
    }
}


