// generic full size backdrop
.backdrop {
    display: none;
    @extend .full-size-absolute;
    background-color: #000;
    opacity: .75;
}


// simple tag
.tag:not(body) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin-right: $gutter * .25;
    margin-bottom: $gutter * .25;
    padding-left: .75em;
    padding-right: .75em;
    background-color: $gray-600;
    border-radius: 4px;
    color: $white;
    font-size: $font-size-sssm;
    line-height: 1.5;
    white-space: nowrap;
    user-select: none;

    &.is-smallest {
        font-size: 10px;
        height: 16px;
        vertical-align: middle;
        margin-bottom: 2px;
        line-height: 16px;
    }

    &.is-black {
        background-color: $black;
        color: $gray-100;
    }

    &.is-dark {
        background-color: $gray-900;
        color: $gray-100;
    }

    &.empty {
        opacity: .3;
    }
}
.tag-group {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    .tag {
        margin-right: 0;
        &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: $gutter * .25;
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}


// simple circle badge
.badge {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    background-color: $white;
    border-radius: 50%;
    padding: $gutter * .75;
    font-size: $font-size-sssm;
    font-weight: $font-weight-black;
    box-shadow: 0 0 2px #000;
    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}


// simple box
.box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $black;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    .box-body {
        flex-grow: 1;
    }
}


// pagination
nav.pagination {
    display: flex;
    align-items: center;
    white-space: nowrap;
    > div {
        &:not(:first-child) {
            margin-left: $gutter;
        }

        &.page-size {
            select { margin-left : $gutter * .5; }
        }

        &.pagination-buttons {
            display: flex;
            > div { display: flex; }

            button {
                min-width: 2.5em;
                border-radius: 4px;
                margin-left: $gutter * .5;
                &:first-of-type { margin-left: 0; }

                &.current-page {
                    pointer-events: none;
                }
            }

            input {
                min-width: 2.5em;
                text-align: center;
            }

            .pages-delimiter {
                &:after {
                    content: '…';
                }
                margin-left: $gutter * .5;
                font-size: $font-size-llg;
            }
        }
    }
}


// small circled notification
.small-notification {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 8px;
    background-color: $black;
    border-radius: 50%;
    width: $gutter;
    text-align: center;
    height: $gutter;
    font-size: $font-size-sssm;
    line-height: $gutter;
    overflow: hidden;
    &.empty {
        opacity: .3;
    }
}


// loader
.is-loading-spinner:after {
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
}

@keyframes spinAround {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}


// tabs
.h-tabs {
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-start;
        align-items: center;
        border-bottom-color: $gray-700;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    li {
        cursor: pointer;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            margin-bottom: -1px;
            padding: .5em 1em;
            border-bottom-color: $gray-700;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            color: $gray-500;
        }

        &.is-active a {
            border-bottom-color: $gray-100;
            color: $gray-100;
        }
    }
}


.h-tabs ~ .h-tabs-contents {
    margin-top: $gutter * 1.5;
}


.hr {
    background-color: $gray-700;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
}

// overflow tables
.table-container {
    width: 100%;
    overflow-x: auto;
}

// drop and upload
.drop-area {
    position: relative;
    width: 100%;
    min-height: $gutter * 5;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='6' stroke-dashoffset='29' stroke-linecap='butt'/%3e%3c/svg%3e");

    &.dragover {
        color: #fff;
        background-color: $black;
        font-size: 1.5em;
    }

    .upload-placeholder {
        color: $gray-550;
        margin: auto;
    }

    .file-input {
        @extend .full-size-absolute;
        opacity: 0;
        outline: 0;
        cursor: pointer;
    }

    .upload-items {
        .upload-item {
            width: 100%;
            & ~ .upload-item {
                margin-top: $gutter;
            }

            .upload-item-header {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .name {
                    margin-right: auto;
                    word-break: break-word;
                }
                button {
                    margin-left: $gutter * .5;
                }
            }

            .message {
                line-height: 1.25rem;
                min-height: 1.25rem;
            }

            .progress-bar {
                width: 100%;
                margin: $gutter * .75 0 $gutter * .75;

                .progress-bar-status {
                    min-width: $gutter;
                    height: 2px;
                }
                .progress-bar-status.in-progress {
                    background-color: $gray-400;
                }
                .progress-bar-status.done {
                    background-color: $info;
                }
                .progress-bar-status.error {
                    background-color: $error;
                }
                .progress-bar-status.cancelled {
                    background-color: $gray-700;
                }
            }
        }
    }
}
