// simple tag
.tag:not(body) {
    align-items: center;
    background-color: $gray-600;
    border-radius: 4px;
    color: $white;
    display: inline-flex;
    font-size: $font-size-sssm;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}

// loader
.is-loading-spinner:after {
    animation: spinAround .5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
}

@keyframes spinAround {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}
