//  TUTTO DA FARE MA PRIMA L'HTML

#{$text-inputs} ,
#{$button-inputs},
button {
    padding: 0 .5em;
    min-width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 2px;
    background-color: $gray-100;
    font-family: $font-family-sans-serif;
    line-height: 1.5em;
    user-select: none;

    &[class^="icon-"] {
        min-width: auto;
        height: auto;
        padding: 0;
    }

    &:focus {
        outline: none;
    }
}


textarea {
    padding: .25em .5em;
    min-width: 5rem;
    border-radius: 2px;
    border: none;
    font-family: $font-family-sans-serif;
}

#{$button-inputs-hover},
button:hover {
    background-color: $gray-600;
    color: #FFF;
    outline: 0;
    cursor: pointer;
}

label {
    font-weight: normal;
    > input {
        margin-right: $gutter * .5;
    }
}


form .fieldset,
form fieldset {
    padding: 0;
    textarea, input {
        &.error {
            background-color: red;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
            }
        }
    }
}

div {
    &[message-tooltip] {
        position:relative;
    }
    &[message-tooltip]:after {
        content: attr(message-tooltip);
        position: absolute;
        // left: 0px;
        padding: 5px 8px;
        background: red;
        z-index: 9;
        height: 32px;
        border-radius: 3px;
        white-space: nowrap;
        word-wrap: normal;
        margin-left: 15px;
    }
}
