//  TUTTO DA FARE MA PRIMA L'HTML

#{$text-inputs} ,
#{$button-inputs},
button {
    padding: 0 .5em;
    min-width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 2px;
    background-color: $gray-100;
    font-family: $font-family-sans-serif;
    line-height: 1.5em;
    user-select: none;

    &[class^="icon-"] {
        min-width: auto;
        height: auto;
        padding: 0;
    }

    &:focus {
        outline: none;
    }
}


textarea {
    padding: .25em .5em;
    min-width: 5rem;
    border-radius: 2px;
    border: none;
    font-family: $font-family-sans-serif;
}

#{$button-inputs-hover},
button:hover {
    background-color: $gray-600;
    color: #FFF;
    outline: 0;
    cursor: pointer;
}

label {
    font-weight: normal;
    > input {
        margin-right: $gutter * .5;
    }
}


form .fieldset,
form fieldset {
    padding: 0;
    textarea, input {
        &.error {
            background-color: red;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
            }
        }
    }
}


// json editor
.jsoneditor-container {
    background-color: $gray-550;
    .jsoneditor {
        border: 0;

        .jsoneditor-menu {
            background: $gray-700;
            border: 0;
        }

        .jsoneditor-contextmenu {
            .jsoneditor-menu {
                background: $gray-300;
            }
        }

        button {
            min-width: unset;
        }
    }
}


// Date Picker
.clear-button {
    transition: all 0.4s ease-in-out;
    display: inline-block;
    z-index: 10;
    color: $gray-900;
    font-size: 1.3em;
    line-height: 25px;
    margin-left: -30px;
    padding: 0px 9px;
    cursor: pointer;


    &:hover {
        background-color: $gray-800;
        border-radius: 100%;
        color: $white;
    }
}
