main.grid {
    display: grid;
    grid-template-areas: "main-sidebar secondary-sidebar content-header"
                        "main-sidebar secondary-sidebar content";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr auto;
    padding: $gutter;

    > .main-sidebar {
        grid-area: main-sidebar;
        margin-right: 2px;
    }

    > .secondary-sidebar {
        grid-area: secondary-sidebar;
    }

    > .content-header {
        grid-area: content-header;
    }

    > .content {
        grid-area: content;
    }
}
