main {
    display: grid;
    grid-template-areas: "sidebar-1 sidebar-2 header"
                         "sidebar-1 sidebar-2 content";
                        //  "footer footer footer";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr auto;
    padding: $gutter;
}

.grid-main-sidebar-1 {
    grid-area: sidebar-1;
    margin-right: 2px;
}
.grid-main-sidebar-2 {
    grid-area: sidebar-2;
}
.grid-main-header {
    grid-area: header;
}
.grid-main-content {
    grid-area: content;
}

// footer {
//     grid-area: footer;
//     align-self: end;
// }
