main.layout {
    opacity: 0;
    display: grid;
    grid-template-areas: "main-sidebar secondary-sidebar content-header"
                        "main-sidebar secondary-sidebar content";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr auto;
    padding: $gutter;

    > .layout-sidebar-primary {
        grid-area: main-sidebar;
        margin-right: 2px;
    }

    > .layout-sidebar-secondary {
        grid-area: secondary-sidebar;
    }

    > .layout-header {
        grid-area: content-header;
    }

    > .layout-content {
        grid-area: content;
    }

    $duration: 0.1s;

    // serve per dare il tempo a Vue di inizializzarsi e renderizzare le viste
    &.fadein {
        -webkit-transition: opacity $duration;
                transition: opacity $duration;
        opacity: 1;
    }
}
