// DA RIFARE DOPO AVER CAMBIATO L'HTML
.module {
    .pagination {
        margin: $gutter * 3 0;
        a {
            display: inline-block;
            background-color: $gray-400;
            padding: 2px 8px;
            border-radius: 3px;
        }
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            padding: 2px 8px 2px 0;
        }
    }
}
