/*
** FONTS & TYPOGRAPHY
*/

// family
$font-family-sans-serif:      'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif:           'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:       'IBM Plex Mono', monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// size
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.125) !default;
$font-size-llg:               ($font-size-base * 1.25) !default;
$font-size-lllg:              ($font-size-base * 1.5) !default;
$font-size-2:                 ($font-size-base * 2) !default;
$font-size-sm:                ($font-size-base * .875) !default;
$font-size-ssm:               ($font-size-base * .8125) !default;
$font-size-sssm:              ($font-size-base * .75) !default;
$font-size-smallest:          ($font-size-base * .625) !default;

// weight
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          400 !default;
$font-weight-bold:            500 !default;
$font-weight-black:           800 !default;
$font-weight-base:            $font-weight-normal !default;

// line
$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;


/*
** COLORS
*/

// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-550: #8e959e !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-950: #17191c !default;
$gray-strange: #3E4143 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$defaultBackground:   $gray-900;

$info:         hsl(204, 86%, 40%);
$danger:       hsl(348, 100%, 61%);
$light-danger: hsl(348, 87%, 12%);
$success:      hsl(175, 60%, 47%);
$error:        rgb(187, 26, 26);
$warning:      rgb(231, 200, 24);
$pending:      rgb(231, 200, 24);

$defaultShadowColor:  rgba(0, 0, 0, .5);
:root {
  --box-shadow-color: rgba(0, 0, 0, .5);
}


/*
** LAYOUT
*/

$gutter: 16px;
$dashboard-item-width: $gutter * 11;
$dashboard-item-height: $gutter * 7.5;
$dashboard-items-ratio: 68.2%;


/*
** Animations & transitions
*/

$animation-duration-base: .3s;


/*
** Tag collections
*/
$text-inputs:   'input[type="color"]',
                'input[type="date"]',
                'input[type="datetime"]',
                'input[type="datetime-local"]',
                'input[type="email"]',
                'input[type="month"]',
                'input[type="number"]',
                'input[type="password"]',
                'input[type="search"]',
                'input[type="tel"]',
                'input[type="text"]',
                'input[type="time"]',
                'input[type="url"]',
                'input[type="week"]',
                'input:not([type])';
// use like
// #{$text-inputs} {
//     background-color: red;
// }

$button-inputs: 'input[type="submit"]',
                'input[type="button"]',
                'input[type="reset"]';
$button-inputs-hover: 'input[type="submit"]:hover',
                      'input[type="button"]:hover',
                      'input[type="reset"]:hover';


/*
** TODO: MEDIA BREAKPOINTS
*/

// $phablet:    568px;
// $tablet:     768px;
// $desktop:    960px;
// $widescreen: 1366px;
// $fullhd:     1600px;

// $min-phablet:    "screen and (min-width: 568px)";
// $min-tablet:     "screen and (min-width: 768px)";
// $min-desktop:    "screen and (min-width: 960px)";
// $min-widescreen: "screen and (min-width: 1366px)";
// $min-fullhd:     "screen and (min-width: 1600px)";

