{# Append urls to sidebar #}
{% set actions = [
    'appearance',
    'applications',
    'endpoints',
    'endpoint_permissions',
    'roles',
    'roles_modules',
    'config',
    'async_jobs',
    'objects_history',
    'user_accesses',
    'system_info',
] %}
{% set controllerAction = _view.request.getparam('controller')|default('') %}
{% for action in actions %}
    {% if action == controllerAction|underscore %}
        {% do _view.append('app-module-links', '<span class="active-action">' ~ __(action|underscore|humanize) ~ '</span>') %}
    {% else %}
        {% do _view.append('app-module-links', Html.link(__(action|underscore|humanize), {'_name': 'admin:list:' ~ action}, {})|raw) %}
    {% endif %}
{% endfor %}

{% do _view.append(
    'app-module-buttons',
    '<a href="' ~ Url.build({'_name': 'admin:cache:clear'}) ~ '" class="button button-primary button-primary-hover-module-admin is-width-auto"><Icon icon="carbon:trash-can"></Icon><span class="ml-05">' ~ __('Clear cache') ~ '</span></a>'
) %}
