{% if properties.advanced %}
<property-view inline-template :tab-open="tabsOpen" tab-name="advanced">
    <section class="fieldset">

        <header @click.prevent="toggleVisibility()"
            class="tab unselectable"
            :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
            <h2>{{ __('Advanced') }}</h2>
        </header>

        <div v-show="isOpen" class="tab-container">

            {{ element('Form/group_properties', {'properties' : properties.advanced, 'group': 'advanced'}) }}

        </div>

    </section>
</property-view>
{% endif %}
