{% if (objects) and Perms.canDelete({type: objectType}) %}
{{ Form.create(null, {
    'id': 'form-delete',
    'url': {'_name': 'modules:delete', 'object_type': objectType}
})|raw}}
    <input type="hidden" name="ids" v-bind:value="selectedRows">
    {% do Form.unlockField('ids') %}

    <div class="fieldset">
        <button
            class="button button-outlined"
            @click.prevent="trash"
            :disabled="!selectedRows.length"
        >
            {{ __('Move to trash') }}
        </button>
    </div>
{{ Form.end()|raw }}
{% endif %}
