{% if (objects) and Perms.canDelete({type: objectType}) %}

    {{ Form.create(null, {'id': 'form-delete', 'class': 'bulk-actions', 'url': {'_name': 'modules:delete', 'object_type': objectType}})|raw }}

        <input type="hidden" name="ids" v-bind:value="selectedRows">

        {{ Form.unlockField('ids') }}

        <div class="fieldset" :disabled="!selectedRows.length">

            <div class="input">

                <button class="button button-outlined" @click.prevent="trash" :disabled="!selectedRows.length">{{ __('Move to trash') }}</button>

            </div>

        </div>

    {{ Form.end()|raw }}

{% endif %}
