.date-ranges-list {
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter;

    .date-ranges-item {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr auto auto;
        }
        gap: $gutter;
        margin-bottom: $gutter * .5;
        align-items: flex-end;

        .weekdays {
            grid-column-start: 1;
            grid-column-gap: $gutter * .5;
            grid-column-end: 5;

            label {
                display: inline !important;
            }
        }
    }
}

