.date-ranges-list {
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter;

    .date-ranges-item {
        display: grid;
        grid-template-columns: 1fr 1fr 0.3fr auto;
        gap: $gutter;
        margin-bottom: $gutter * .5;
        align-items: flex-end;
    }
}
