.categories-container {
    .categories {
        margin-top: $gutter;
        .select {
            columns: 2 auto;
        }
        h3 {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
