{% if object.attributes.categories is defined %}
	<property-view inline-template :tab-open="tabsOpen">
		<section class="fieldset order-{{ cssOrder }}" id="categories" :class="isOpen? '' : 'closed'">
			<header @click.prevent="toggleVisibility()" class="tab unselectable">
				<h2>{{ __('Categories') }}</h2>
			</header>
			<div v-show="isOpen" class="tab-container">
				{% set options = Schema.controlOptions('categories', categories, {'type': 'categories'})|merge({'label': false}) %}
				{{ Form.control('categories', options)|raw }}
			</div>
		</section>
	</property-view>
{% endif %}
