

body.view-module {
    .module-form {
        form {
            section.fieldset {
                .children-view {
                    .container-grid {
                        display: grid;
                        grid-template-columns: 1fr auto;
                    }

                    .item-grid {
                        margin-top: $gutter * 0.25;

                        input {
                            min-width: 0;
                            width: $gutter * 4;
                            text-align: right;

                            &[disabled] {
                                background-color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}



