<section class="fieldset order-{{ order|default('0') }}" id="core_properties">
    <div class="tab-container">
        {% for key, value in properties.core %}
            {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
            {{ Form.control(key, options)|raw }}

            <span class="error-message"> <: this.errors.first('{{ key }}') :> </span>
        {% endfor %}

        {{ Form.hidden('id', {'value': object.id})|raw }}
    </div>
</section>
