<property-view
    :tab-open="tabsOpen"
    label={{ __('Main Properties') }}>

    <fieldset id="core_properties">
        {{ Form.hidden('id', {'value': object.id})|raw }}

        {% for key, value in properties.core %}
            {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
            {{ Form.control(key, options)|raw }}

            <span class="error-message"> <: this.errors.first('{{ key }}') :> </span>
        {% endfor %}

    </fieldset>

</property-view>
