.locations {
    input, .order {
        border-radius: 2px;
    }

    .order {
        height: 0.5rem;
        margin-top: 1.75rem;
    }

    .location-form {
        .coordinates {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .get-coordinates {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            background-color: $defaultBackground;
            border-color: $white;
            color: $white;
        }
    }

    .buttons {
        justify-content: space-between;
        margin-right: 1rem;

        button {
            text-transform: uppercase;
            background-color: $defaultBackground;
            border-color: $white;
            color: $white;
        }

        .remove {
            border: none;
        }
    }
}
