{% element 'Form/_other_properties_script' %}

<div class="tab"><h2>{{ __('Content') }}</h2></div>

<fieldset id="object_properties">
    {% set jsonKeys = [] %}
    {% for key, value in other_properties %}

        {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
        {% if options.class and  options.class == 'json' %}
            {% set jsonKeys = jsonKeys|merge([key]) %}
        {% endif %}

        {{ Form.control(key, options)|raw }}

    {% endfor %}
    {% if jsonKeys %}
        {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': jsonKeys|join(',')})|raw }}
    {% endif %}
</fieldset>
