{# Remaining properties groups: 'other' and custom groups not in 'core', '_keep', 'publish', 'advanced' #}
{% set otherProperties = Array.removeKeys(properties, ['core', '_keep', 'publish', 'advanced']) %}
{% for group, props in otherProperties %}
    {% if props %}

    <property-view inline-template :tab-open="tabsOpen" tab-name="{{ group }}">

        <section class="fieldset">
            <header @click.prevent="toggleVisibility()"
                class="tab unselectable"
                :class="isOpen? 'open has-border-module-{{ currentModule.name }}' : ''">
                <h2>{{ Layout.tr(group) }}</h2>
            </header>

            <div v-show="isOpen" class="tab-container">

                {{ element('Form/group_properties', {'properties' : props, 'group': group}) }}

            </div>
        </section>

    </property-view>

    {% endif %}
{% endfor %}
