{% element 'Form/_other_properties_script' %}
{% set all_attributes = object.attributes|default([]) %}
{% set module = currentModule.name|default('') %}
{% set core_properties = config('Modules.' ~ module ~ '.core_attributes')|default(['title', 'description', 'uname', 'status']) %}
{% set other_properties = Array.removeKeys(all_attributes, core_properties) %}

<div class="tab"><h2>{{ __('Other Properties') }}</h2></div>

<fieldset id="object_properties">
{% set jsonKeys = [] %}
{% for key, value in other_properties %}
    {% set property = schema.properties[key] %}
    {% set type = Schema.getTypeFromSchema(property) %}
    {% if type == 'json' %}
        {% set jsonKeys = jsonKeys|merge([key]) %}
        {{ Form.control(key, {'type': 'textarea', 'class': 'json', 'value': value|json_encode})|raw }}
    {% else %}
        {{ Form.control(key, {'type': Schema.getControlTypeFromSchema(property)})|raw }}
    {% endif %}
{% endfor %}
{% if jsonKeys %}
    {{ Form.control('_jsonKeys', {'type': 'hidden', 'value': jsonKeys|join(',')})|raw }}
{% endif %}
</fieldset>
