<section class="fieldset order-{{ cssOrder }}" id="publish_properties">
    <div class="tab-container">
        {% for key, value in properties.publish %}
            {% set options = Schema.controlOptions(key, value, schema.properties[key]) %}
            {{ Form.control(key, options)|raw }}
        {% endfor %}
    </div>
</section>
