<section class="fieldset" id="publish-properties">
    <div class="tab-container">

        {{ element('Form/group_properties', {'properties' : properties.publish, 'group': 'publish'}) }}

    </div>
</section>
