{% if relations %}
<section class="relations">

    <header>
        <h2>{{ __('Relations') }}</h2>
    </header>

    {% for relationName in relations %}

        <div class="relation">

            <property-view inline-template :tab-open="tabsOpen" ref={{ relationName }}>
                <section class="fieldset order-{{ cssOrder }}" id="trees" :class="isOpen? '' : 'closed'">

                    <header @click.prevent="toggleVisibility();" class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                        {# TODO: conta tutti gli oggetti #}
                        <h2>{{ relationName|humanize|lower }}<span class="small-notification"
                                                                v-bind:class="!count? 'empty' : ''"
                                                                v-show:class="!isLoading" style="display: none"><: count :></span></h2>
                    </header>

                    <div v-show="isOpen" class="tab-container">
                        {% element 'Form/relation' {'relationName': relationName} %}
                    </div>

                </section>
            </property-view>
        </div>

    {% endfor %}

</section>
{% endif %}
