.relation-view {
    .related-list-container {
        .columns {
            &.isLoading {
                opacity: .2;
                pointer-events: none;
            }
        }
    }
}

// related item (relate-item-twig)
.related-item-column {
    &.sorting {
        opacity: 0.2;
    }

    article {
        height: 100%;

        &.unselectable {
            pointer-events: none;
            opacity: .4;
        }

        header {
            h1 {
                min-height: $font-size-lg * 2;
                padding-right: $gutter * .75;
                word-break: break-word;
                line-height: 1.25em;;
            }
        }

        .priority {
            position: absolute;
            top: $gutter * .5;
            left: $gutter * .5;
            z-index: 10;
        }

        .thumbnail {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 63%; // 16 / 9 56%
            background-color: $gray-100;
            pointer-events: none;
            figure {
                @extend .full-size-absolute;
                font-size: 2.5rem; // icons
                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        footer {
            a:last-child {
                margin-left: auto;
            }
        }
    }

    &.removed {
        article {
            opacity: .2;
        }
    }
}


// drop and upload
.drop-area {
    position: relative;
    width: 100%;
    min-height: $gutter * 5;
    background-color: $gray-950;
    transition: .2s transform;

    &.dragover {
        transform: scale(1.05);
        color: #fff;
        background-color: #000;
    }

    .upload-placeholder {
        color: $gray-550;
        margin: auto;
    }

    .file-input {
        @extend .full-size-absolute;
        opacity: 0;
        outline: 0;
        cursor: pointer;
    }

    .upload-items {
        .upload-item {
            width: 100%;
            & ~ .upload-item {
                margin-top: $gutter;
            }

            .upload-item-header {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .name {
                    margin-right: auto;
                    word-break: break-word;
                }
                button {
                    margin-left: $gutter * .5;
                }
            }

            .message {
                line-height: 1.25rem;
                min-height: 1.25rem;
            }

            .progress-bar {
                width: 100%;
                margin: $gutter * .75 0 $gutter * .75;

                .progress-bar-status {
                    min-width: $gutter;
                    height: 2px;
                }
                .progress-bar-status.in-progress {
                    background-color: $gray-400;
                }
                .progress-bar-status.done {
                    background-color: $info;
                }
                .progress-bar-status.error {
                    background-color: $error;
                }
                .progress-bar-status.cancelled {
                    background-color: $gray-700;
                }
            }
        }
    }
}


// in panel
%relation-panel-common {
    display: flex;
    flex-direction: column;
    height: 100%;

    > * {
        display: flex;
        flex-direction: column;
    }

    .shrinks {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    header.tab {
        cursor: auto;
    }

    footer {
        display: flex;
    }

    form[disabled] {
        opacity: 0.7;
        pointer-events: none;
        cursor: default;
    }

    header[disabled], a[disabled], a[disabled]:hover {
        pointer-events: none;
        cursor: default;
    }

    .open h2 {
        cursor: pointer;
    }
}


.main-panel-container .edit-relation {
    @extend %relation-panel-common;
}

.main-panel-container .upload-files {
    @extend %relation-panel-common;
}

.main-panel-container .relations-add {
    @extend %relation-panel-common;

    .create-new-object {
        form > * {
            margin-bottom: $gutter;
            label {
                margin-right: $gutter * .5;
            }
        }
    }

    // ui specs
    .related-item-column article {
        cursor: pointer;

        &.selected {
            position: relative;
            &:after {
                content: "✓";
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: $gutter * 2.25; height: $gutter * 2.25;
                top: $gutter * .5; left: $gutter * .5;
                border: 2px solid white;
                border-radius: 50%;
                background-color: $info;
                color: #fff;
                font-weight: $font-weight-black;
            }
        }
    }
}
