{% if objectRelations %}
<section class="relations">

    {% for relationName, relationLabel in objectRelations %}

        <div class="relation">
            <property-view inline-template :tab-open="tabsOpen" ref={{ relationName }}>
                <section class="fieldset order-{{ cssOrder }}" :class="isOpen? '' : 'closed'">

                    <header @click.prevent="toggleVisibility();" class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                        <h2>
                            {{ relationLabel }}
                            <span class="tag is-smallest is-black mx-05"
                                :class="!totalObjects? 'empty' : ''"><: totalObjects :>
                            </span>
                        </h2>
                    </header>

                    {% if relationName == 'children' %}
                        <div v-show="isOpen" class="tab-container">
                            {% element 'Form/children' {'relationName': relationName } %}
                        </div>
                    {% else %}
                        <div v-show="isOpen" class="tab-container">
                            {% element 'Form/relation' {'relationName': relationName, 'relationSchema': relationsSchema[relationName] } %}
                        </div>
                    {% endif %}

                </section>
            </property-view>
        </div>

    {% endfor %}

</section>
{% endif %}
