nav.pagination {
    // TODO: forse non necessario
    // justify-content: flex-end;

    .filter-search {
        display: flex;
        margin: 0;

        .search-query {
            flex: 1;
        }

        .search-types, button {
            margin-left: $gutter / 2;
        }
    }

    .page-size, .pagination-buttons {
        &.hide {
            display: none;
        }
    }
}


.related-objects-list {

    .columns {
        .column:empty { padding: 0; }
        &.isLoading {
            opacity: .2;
            pointer-events: none;
        }
    }

    & ~ .related-objects-list {
        padding: $gutter * .5;
        background-color: $gray-800;
        margin: 0 0 $gutter * 2;
        border-radius: $gutter * .5;
        border: 1px solid $gray-700;
        .column:not(:last-child) {
            flex-shrink: 0;
            flex-basis: 12 * $gutter;
            article { position: relative; padding-bottom: $gutter * 1.5; }
            footer {
                @extend .full-size-absolute;
                a {
                    @extend .full-size-absolute;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: $gutter * .25;
                }
            }
        }
    }

    main.panel-is-open .module-form & {
        cursor: auto;
        pointer-events: none;
    }
}

.roles-list-view {
    span.name {
        margin-left: $gutter / 2;
    }
}

.resource.translations {
    .related-object {
        width: 33.3%;

        article h2 {
            font-size: 14px;
        }

        &.new-button {
            width: 33.3%;
            min-height: $gutter * 8;

            article {
                position:  absolute;
                top: $gutter/2;
                left: $gutter/2;
                bottom: $gutter/2;
                right: $gutter/2;

                a {
                    margin: auto;
                    font-size: 26px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

// single related object
.related-object {
    position: relative;
    min-width: 230px;

    article {
        display: flex;
        flex-direction: column;
        box-shadow: none;

        &.unselectable {
            pointer-events: none;
            opacity: .4;
        }

        header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $gutter;

            h1 {
                padding: 0 4px;
                margin: 0;
                padding-right: $gutter;
                word-break: break-word;
                font-size: $font-size-sm;
                font-weight: $font-weight-light;
                line-height: $font-size-lg;
                min-height: $font-size-lg * 2;
                &:empty {
                    content: 'untitled';
                    opacity: .5;
                }
            }
            .prop-id {
                opacity: .5;
                font-size: $font-size-sssm;
                line-height: $gutter;
                white-space: nowrap;
            }
        }

        ul.params-list {
            list-style: none;
            padding: $gutter * 0.25;
        }

        .priority {
            margin-bottom: $gutter;
        }

        >div {
            &:not(:last-of-type) {
                margin-bottom: $gutter;
            }
            &.thumbnail {
                figure {
                    // placeholder in attesa di mettere il thumb
                    background-color: $gray-900;
                    position: relative;
                    width: 100%;
                    padding-bottom: 63%; // 16 / 9 56%
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0; left: 50%;
                        display: block;
                        height: 100%;
                        transform: translateX(-50%);
                    }
                }

                .cover {
                    position: relative;
                    width: 100%;
                    padding-bottom: 63%; // 16 / 9 56%
                    overflow: hidden;

                    .icon-cover {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        display: block;
                        height: 100%;
                        transform: translateX(-50%);
                        font-size: 8em;

                        &::before{
                            margin: 0;
                        }
                    }
                }
            }
        }

        &.images,
        &.videos {
            div.thumbnail {
                display: block;
            }
        }

        footer {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-top: $gutter * 0.5;

            a {
                background-color: transparent;
                color: $gray-100;
                line-height: 1rem;
                cursor: pointer;
            }

            button {
                background-color: transparent;
                color: $gray-100;
            }

            a:last-child {
                margin-left: auto;
            }

            button + a:last-child {
                margin-left: 0;
            }
            a:hover, button:hover { background-color: $gray-100; color: $black; }
        }
    }

    > footer{
        position: absolute;
        transform: translateY(-100%);
        padding-bottom: $gutter * .5;
        padding-left: $gutter * .5;
    }

    &.removed {
        article {
            opacity: .2;
        }
    }
}


// in panel
%relation-panel-common {
    display: flex;
    flex-direction: column;
    height: 100%;

    // layout
    > * {
        display: flex;
        flex-direction: column;
        margin-top: $gutter;
        flex: none;
        > * {
            margin-left: $gutter;
            margin-right: $gutter;
            flex: none;
        }
    }
    .shrinks {
        flex-shrink: 1 !important;
        overflow-y: auto;
        overflow-x: hidden;
    }


    footer {
        display: flex;
        justify-content: space-between;
        margin: $gutter;
    }

    header.tab {
        cursor: auto;
    }

    form[disabled] {
        opacity: 0.7;
        pointer-events: none;
        cursor: default;
    }

    header[disabled], a[disabled], a[disabled]:hover {
        pointer-events: none;
        cursor: default;
    }

    .open h2 {
        cursor: pointer;
    }
}


.edit-relation {
    @extend %relation-panel-common;

    > nav {
        padding: $gutter $gutter 0;
        margin: 0;
    }

    .object-attributes, .params-list {
        overflow: auto;
        margin-right: 0;
        margin-left: $gutter;
        margin-top: $gutter;
        padding-right: $gutter;
    }

    .params-list {
        flex-grow: 1;

        > div {
            margin-bottom: $gutter * .5;
        }

        input, select {
            width: 100%;
        }
    }
}

.relations-add {
    @extend %relation-panel-common;

    .create-new-object {
        form > * {
            margin-bottom: $gutter;

            input[name=title] {
                max-width: 50%;
                margin-left: $gutter * .5;
            }
        }
    }

    // ui specs
    .related-object article {
        position: relative;
        background-color: $gray-700;
        cursor: pointer;

        &.selected { background-color: $info; }

        footer {
            justify-content: center;
            width: calc(100% + 16px);
            margin-left: -8px;
            margin-bottom: -8px;
            height: 24px;
            a {
                justify-content: center;
                display: inline-flex;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: $gray-800;
            }
            &:hover {
                a {
                    background-color: $gray-600;
                }
            }
        }
    }
}
