{% if relations %}
<section class="relations">

    {% for relationName, relationLabel in relations %}

        <property-view inline-template :tab-open="tabsOpen" ref={{ relationName }}>
            <section class="fieldset">

                <header @click.prevent="toggleVisibility()"
                    class="tab unselectable"
                    :class="[
                        isOpen? 'open has-border-module-{{ currentModule.name }}' : '',
                        isLoading? 'is-loading-spinner' : ''
                    ]">
                        <h2>{{ relationLabel }}</h2>
                        <div class="buttons" v-show="isOpen">
                            <button @click.prevent @click.stop="switchBlockView()" :data-active="!listView" class="switch-view icon-th-large"></button>
                            <button @click.prevent @click.stop="switchListView()" :data-active="listView" class="switch-view icon-th-list"></button>
                        </div>
                        <span class="has-text-size-smallest" v-show="!isLoading"><: totalObjects :></span>
                </header>
                <div v-show="isOpen" class="tab-container">
                    {% element 'Form/relation' {
                        'relationName': relationName,
                        'relationSchema': relationsSchema[relationName],
                        'listView': listView,
                    } %}
                </div>

            </section>
        </property-view>

    {% endfor %}

</section>
{% endif %}
