{% if object.relationships %}
<section class="relations">

    <header>
        <h2>{{ __('Relations') }}</h2>
    </header>

    {% for relationName, val in object.relationships %}

        {% if relationName != 'parents' and relationName != 'parent' %}
            <div class="relation">

            <property-view inline-template :tab-open="tabsOpen">
                <section class="fieldset order-{{ cssOrder }}" id="trees" :class="isOpen? '' : 'closed'">

                    <header @click.prevent="toggleVisibility();" class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                        <h2>{{ relationName }}</h2>
                    </header>

                    <div v-show="isOpen" class="tab-container">
                        {% element 'Form/relation' {'relationName': relationName} %}
                    </div>

                </section>
            </property-view>
            </div>
        {% endif %}

    {% endfor %}

{% endif %}
