.related-list-container {
    .columns {
        &.isLoading {
            opacity: .2;
            pointer-events: none;
        }
    }

    .related-new-objects-list { // staged relations container
        padding: $gutter * .5;
        background-color: $gray-800;
        border-radius: $gutter * .5;
        border: 1px solid $gray-700;
    }
}


// single related object
.related-object {
    position: relative;

    article {
        height: 100%;

        &.unselectable {
            pointer-events: none;
            opacity: .4;
        }

        header {
            h1 {
                min-height: $font-size-lg * 2;
                padding-right: $gutter * .75;
                word-break: break-word;
                line-height: 1.25em;;
            }
        }

        .priority {
            position: absolute;
            top: $gutter * .5;
            left: $gutter * .5;
            z-index: 10;
        }

        .thumbnail {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 63%; // 16 / 9 56%
            background-color: $gray-100;
            pointer-events: none;
            figure {
                @extend .full-size-absolute;
                font-size: 2.5rem; // icons
                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        footer {
            a:last-child {
                margin-left: auto;
            }
        }
    }

    &.removed {
        article {
            opacity: .2;
        }
    }
}


// in panel
%relation-panel-common {
    display: flex;
    flex-direction: column;
    height: 100%;

    // layout
    > * {
        display: flex;
        flex-direction: column;
    }

    .shrinks {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    header.tab {
        cursor: auto;
    }

    footer {
        display: flex;
    }

    form[disabled] {
        opacity: 0.7;
        pointer-events: none;
        cursor: default;
    }

    header[disabled], a[disabled], a[disabled]:hover {
        pointer-events: none;
        cursor: default;
    }

    .open h2 {
        cursor: pointer;
    }
}


.edit-relation {
    @extend %relation-panel-common;
}

.relations-add {
    @extend %relation-panel-common;

    .create-new-object {
        form > * {
            margin-bottom: $gutter;
            label {
                margin-right: $gutter * .5;
            }
        }
    }

    // ui specs
    .related-object article {
        cursor: pointer;

        &.selected {
            background-color: $info;
            color: $white;
            .thumbnail { background-color: $info; opacity: .8; }
        }
    }
}
