{% for resourceName in resourceRelations %}
    {% set wait = config('ajaxLoadDelay.start')|default(0) + (loop.index * config('ajaxLoadDelay.interval')|default(0)) %}

    <property-view inline-template :tab-open-at-start=true ref={{ resourceName }}>
        <section class="resources fieldset order-{{ cssOrder }} closed">
            <header class="tab unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                <h2>
                    {{ __(resourceName|humanize)|lower }}
                    <span class="tag is-smallest is-black mx-05"
                        :class="!totalObjects? 'empty' : ''"><: totalObjects :>
                    </span>
                </h2>
            </header>

            <div v-show="false" class="tab-container">
                <resource-relation-view inline-template
                    relation-name={{ resourceName }}
                    ref="relation"

                    @loading="onToggleLoading"
                    @count="onCount">

                    <div class="resource-relation-view"></div>
                </resource-relation-view>
            </div>
        </section>
    </property-view>

{% endfor %}

