{#
    load-on-start, loading events timing:
    1000ms    - first relation
    gap 200ms - till last relation
#}

{% if relations %}
<section class="resources">

    {% for relationName in relations if relationName == 'translations' %}

        {% set wait = 500 + (loop.index * 200) %}
        {% element 'Form/resources/translations' {'resourceName': relationName, 'loadOnStart': wait } %}

    {% endfor %}

</section>
{% endif %}
