{% for resourceName in resourceRelations %}
    <property-view inline-template :tab-open-at-start=true ref={{ resourceName }}>
        <section class="fieldset">
            <header class="tab tab-static unselectable" v-bind:class="isLoading? 'is-loading-spinner' : ''">
                <h2>
                    {{ __(resourceName|humanize)|lower }}
                    <span class="tag is-smallest is-black mx-05"
                        :class="!totalObjects? 'empty' : ''"><: totalObjects :>
                    </span>
                </h2>
            </header>

            <div class="tab-container">
                <resource-relation-view inline-template
                    relation-name={{ resourceName }}
                    ref="relation"
                    @loading="onToggleLoading"
                    @count="onCount">
                    <div class="resource-relation-view">
                        <div v-for="(note, index) in annotations" :key="index"><: index + 1 :>: <: note.attributes.description :></div>
                    </div>
                </resource-relation-view>
            </div>

        </section>
    </property-view>
{% endfor %}

