.tree-view {
    .list-actions {
        margin: 10px;
        text-align: center;
    }

    label {
        color: $gray-600;
    }
    .tree-related-object label {
        color: $gray-100;
    }


    .tree-list-single-choice {
        .node-element {
            border: 1px solid transparent;

            &.disabled {
                opacity: 0.7;
            }

            &:not(.disabled):hover {
                cursor: pointer;
            }

            label {
                cursor: inherit;
                text-decoration: inherit;
            }

            &.tree-related-object{
                &.was-related-object{
                    text-decoration: line-through;
                }
            }
        }
    }

    .tree-entry-list {
        padding: 0 $gutter * .5;
        margin-left: - ($gutter * 1.5);
        line-height: 1;

        .tree-list-node {
            .node-element {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: $gutter * 1.5;

                > input, > label {
                    margin-left: $gutter * .5;
                }

                &.node-folder {
                    margin-left: $gutter * 1.5;
                    label {
                        margin-left: 11px;
                    }
                }

                .icon {
                    font-size: 20px;
                    &:before { margin-right: 0; }
                    &.unicode-branch {
                        width: 20px;
                        text-align: center;
                        &:before {
                            content: '└';
                            color: $gray-800;
                        }
                    }
                }

                label {
                    flex-basis: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }

            .node-children {
                margin-left: $gutter * 3;
            }

            &.root-node {
                cursor: pointer;
            }
        }
    }
}
