<section class="fieldset order-1">
    <div class="tab-container">
        {{ Form.control('file', { 'type': 'file', 'label': false }) | raw }}
        {{ Form.control('model-type', { 'type': 'hidden', 'value': object.type}) | raw }}
    </div>
</section>
