<div class="centered-container">
    <h1 class="title">{{ __('Password reset request sent') }}</h1>
    <h2 class="subtitle">{{ __("Please check your mailbox and follow the instructions") }}</h2>
</div>
