@use "variables";

#{variables.$button-inputs},
button, .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;

    position: relative;
    height: variables.$gutter * 2;
    min-width: variables.$gutter * 3;
    @media screen and (min-width: 1440px) {
        min-width: variables.$gutter * 4;
    }
    flex-shrink: 0;
    box-shadow: none;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);

    border-radius: 2px;
    border-width: 1px;
    border-style: solid;

    // -- overridden by specific utility buttons
    background-color: variables.$gray-200;
    border-color: variables.$gray-200;
    color: variables.$gray-900;
    // --

    font-family: variables.$font-family-sans-serif;
    font-size: variables.$font-size-sssm;
    font-weight: variables.$font-weight-medium;
    text-transform: uppercase;
    line-height: 1;

    cursor: pointer;

    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;


    // button states
    &:disabled, &.disabled {
        color: variables.$gray-800 !important;
        background-color: variables.$gray-600 !important;
        border-color: variables.$gray-600 !important;
        pointer-events: none;
    }


    &:hover {
        background-color: variables.$gray-600;
        color: #FFF;
        outline: 0;
    }

    &:focus {
        outline: 0;
        background-color: variables.$gray-600;
        border-color: #fff;
        color: #FFF;
    }


    // button modifiers
    &.is-width-auto {
        min-width: initial;
    }

    &.is-small {
        height: variables.$gutter * 1.5;
        padding-left: .5em;
        padding-right: .5em;
        font-size: variables.$font-size-sssm;
    }

    &.is-dark {
        background-color: variables.$gray-700;
        color: variables.$gray-300;
    }

    &.is-loading-spinner {
        color: transparent!important;
        pointer-events: none;
        &:after {
            position: absolute;
            border-color: variables.$gray-900;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    &.icon-only-icon {
        padding: 0;
        background-color: transparent;
        border: none;
        width: auto;
        min-width: initial;
        color: variables.$white;
        font-size: 1rem;
    }
}


// utility buttons
.button {
    &-primary {
        background-color: variables.$white;
        border-color: variables.$white;
        color: variables.$black;
    }
    &-secondary {
        background-color: variables.$gray-300;
        border-color: variables.$gray-300;
        color: variables.$black;
    }
    &-outlined {
        background-color: transparent;
        border-color: variables.$white;
        color: variables.$white;
        &:disabled, &.disabled {
        }
    }
    &-outlined-white {
        background-color: transparent;
        border-color: variables.$black;
        color: variables.$black;
        &:hover {
            border-color: variables.$gray-600;
        }
        &:disabled, &.disabled {
        }
    }
    &-text {
        background-color: transparent;
        border-color: transparent;
        color: variables.$black;
        &:disabled, &.disabled {
        }
    }
    &-text-white {
        background-color: transparent;
        border-color: transparent;
        color: variables.$white;
        &:disabled, &.disabled {
        }
    }
}
