// flex columns
.columns {
    display: block;
    flex-wrap: wrap;
    margin-left: -($gutter * .5);
    margin-right: -($gutter * .5);
    margin-top: -($gutter * .5);
    @media screen and (min-width: 420px) {
        display: flex;
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: ($gutter * .5);
    &.is-1 {
        flex: none;
        flex-basis: 100%;
    }
    &.is-2 {
        flex: none;
        flex-basis: 50%;
    }
    &.is-3 {
        flex: none;
        flex-basis: 33.33333%;
    }
    &.is-4 {
        flex: none;
        flex-basis: 25%;
    }
    &.is-narrow {
        flex: none;
        max-width: 100%;
    }

    &.is-one-third-tablet {
        @media screen and (min-width: 769px) {
            flex: none;
            flex-basis: 33.33333%;
        }
    }
    &.is-one-quarter-tablet {
        @media screen and (min-width: 769px) {
            flex: none;
            flex-basis: 25%;
        }
    }

    &.is-one-third-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            flex-basis: 33.33333%;
        }
    }
    &.is-one-quarter-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            flex-basis: 25%;
        }
    }
    &.is-one-fifth-desktop {
        @media screen and (min-width: 1088px) {
            flex: none;
            flex-basis: 20%;
        }
    }

    &.is-one-third-widescreen {
        @media screen and (min-width: 1440px) {
            flex: none;
            flex-basis: 33.33333%;
        }
    }
    &.is-one-quarter-widescreen {
        @media screen and (min-width: 1440px) {
            flex: none;
            flex-basis: 25%;
        }
    }
    &.is-one-fifth-widescreen {
        @media screen and (min-width: 1440px) {
            flex: none;
            flex-basis: 20%;
        }
    }
    &.is-one-sixth-widescreen {
        @media screen and (min-width: 1440px) {
            flex: none;
            flex-basis: 16.6666%;
        }
    }
    &.is-one-eight-widescreen {
        @media screen and (min-width: 1440px) {
            flex: none;
            flex-basis: 12.5%;
        }
    }

    &.is-one-third-fullhd {
        @media screen and (min-width: 1600px) {
            flex: none;
            flex-basis: 33.33333%;
        }
    }
    &.is-one-quarter-fullhd {
        @media screen and (min-width: 1600px) {
            flex: none;
            flex-basis: 25%;
        }
    }
    &.is-one-fifth-fullhd {
        @media screen and (min-width: 1600px) {
            flex: none;
            flex-basis: 20%;
        }
    }
    &.is-one-sixth-fullhd {
        @media screen and (min-width: 1600px) {
            flex: none;
            flex-basis: 16.6666%;
        }
    }
    &.is-one-eight-fullhd {
        @media screen and (min-width: 1600px) {
            flex: none;
            flex-basis: 12.5%;
        }
    }

    &.is-one-sixth-ultra {
        @media screen and (min-width: 2080px) {
            flex: none;
            flex-basis: 16.6666%;
        }
    }

    &.is-one-eight-ultra {
        @media screen and (min-width: 2080px) {
            flex: none;
            flex-basis: 12.5%;
        }
    }


    &.is-one-half-mobile {
        @media screen and (max-width: 768px) {
            flex: none;
            flex-basis: 50%;
        }
    }
    &.is-one-third-mobile {
        @media screen and (max-width: 768px) {
            flex: none;
            flex-basis: 33.33333%;
        }
    }
    &.is-one-quarter-mobile {
        @media screen and (max-width: 768px) {
            flex: none;
            flex-basis: 25%;
        }
    }
}
