@use "../../../resources/styles/variables";

.main-panel-container {
    position: fixed;
    top: 0; right: 0;
    min-width: 20 * variables.$gutter;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 60%;
    }
    height: 100vh;
    transform: translateX(101%);
    transition: .3s transform;
    will-change: transform;
    z-index: 1001;

    .main-panel {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        background-color: variables.$gray-800;
    }

    .panel-slot {
        height: 100%;
    }

    &.on {
        transform: translateX(0);
        box-shadow: 0 0 32px variables.$black;
    }
}

.main-panel {
    .fieldset:first-child {
        padding-top: variables.$gutter;
    }
}
