{{ _view.assign('title', "%s - %s"|format("BEdita4", currentModule.name)) }}

<body>

{% element 'modules_top_menu' %}

{% element 'left_menu' %}

{% element 'commands_menu' %}

<div class="mainfull">

    {% element 'list_objects_trash' %}

</div>

</body>
