{{ _view.assign('title', __('Trash')) }}

<div class="main">
    {{ Form.create({'defaults': object.attributes, 'schema': {}}, {
        'url': {'_name': 'trash:save'},
    })|raw }}

    {% element 'form_core_properties' %}

    {% element 'form_other_properties' %}

    {% element 'form_meta' %}

    {{ Form.end()|raw }}
</div>
