{% set selectBaseClasses = "has-background-gray-700 has-border-gray-700 has-font-weight-light has-text-gray-200 has-text-size-smallest" %}

<div class="columns columns-responsive-tablet">
    <div class="column is-4">
        {% element 'FilterBox/filter_box_common' %}
    </div>

    <div class="column">
        {% element 'FilterBox/filter_box_page_toolbar' %}
    </div>
</div>

