<div class="columns columns-responsive-tablet">
    <div class="column is-narrow">
        {% element 'FilterBox/filter_box_common' %}
    </div>

    {% if not hidePagination %}
        <div class="column">
            {% element 'FilterBox/filter_box_page_toolbar' %}
        </div>
    {% endif %}
</div>

