<div class="filter-box">
    <div>
        {% element 'FilterBox/filter_box_common' %}
    </div>

    {% if not hidePagination %}
        <div>
            {% element 'FilterBox/filter_box_page_toolbar' %}
        </div>
    {% endif %}
</div>
