/*

██████╗ ███████╗██████╗ ██╗████████╗ █████╗     ██╗  ██╗
██╔══██╗██╔════╝██╔══██╗██║╚══██╔══╝██╔══██╗    ██║  ██║
██████╔╝█████╗  ██║  ██║██║   ██║   ███████║    ███████║
██╔══██╗██╔══╝  ██║  ██║██║   ██║   ██╔══██║    ╚════██║
██████╔╝███████╗██████╔╝██║   ██║   ██║  ██║         ██║
╚═════╝ ╚══════╝╚═════╝ ╚═╝   ╚═╝   ╚═╝  ╚═╝         ╚═╝

BEdita 4 ~ @ 2018 from ChannelWeb & Chialab with love
*/
@import './styles/variables';   // common variables used for color, margins, typography, media breakpoints, tag collections
@import './styles/mixins';

// general
@import './styles/base_normalize';
@import './styles/base';
@import './styles/layout';      // main grid base layout
@import './styles/buttons';
@import './styles/forms';
@import './styles/forms_file';
@import './styles/utility_classes';
@import './styles/elements';
@import './styles/columns';
@import './styles/richtexteditor';

// elements
@import '../Element/Form/form';
@import '../Element/Form/calendar';
@import '../Element/Form/locations';
@import '../Element/Form/trees';
@import '../Element/Form/publish_properties';
@import '../Element/Form/relations';
@import '../Element/Form/map';
@import '../Element/Form/history';
@import '../Element/Form/categories';
@import '../Element/flash/flash';
@import '../Element/Menu/colophon';
@import '../Element/Menu/menu';
@import '../Element/Menu/sidebar';
@import '../Element/Modules/index_properties';
@import '../Element/FilterBox/filter_box';
@import '../Element/Panel/panel';
@import '../Element/filter_type';

// components
@import './js/app/components/dialog/dialog.scss';
@import './js/app/components/ajax-login/ajax-login.scss';

// Pages
@import '../Pages/Error/error';
@import '../Pages/Login/login';
@import '../Pages/Dashboard/dashboard';
@import '../Pages/Admin/admin';
@import '../Pages/Import/import';
@import '../Pages/Modules/modules-index';
@import '../Pages/Modules/modules-view';
@import '../Pages/Model/model-index';
@import '../Pages/Model/model-view';
@import '../Pages/Translations/index';

@import './styles/non-production';

// vue
[v-cloak] {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex !important;
    justify-content: center;
    align-items: center;
    > * {
        display: none !important;
    }

    &:before {
        animation: spinAround .75s infinite linear;
        border: 2px solid #dbdbdb;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: $gutter * 2;
        width: $gutter * 2;
    }
}
