body.view-admin {
    .filter-box-admin > .filters-container > .filter-container > span {
        margin-left: 15px;
    }
    .has-background-module-admin {
        background-color: white !important;
    }
    .active-action {
        font-weight: bold;
        color: white;
    }
    .table-row {
        &.new-record > * {
            padding-top: calc($gutter * 4) !important;
        }
    }
}

.app-module-links {
    a:not(.button), span {
        border-bottom: 1px solid $gray-600;
        padding: calc($gutter * 0.5);
        padding-left: $gutter;
        margin: 0 !important;
    }
    .button {
        margin-top: calc($gutter * 2);
    }
    .active-action {
        background-color: $gray-600;
        font-weight: normal !important;
        color: black !important;
    }
}

.content {
    min-width: 400px;
}

.perm-hidden {
    opacity: .5;
}

.view-admin .module-index .fieldset .tab {
    gap: 5px;
}
