name: 'javascript'

on:
  pull_request:
    paths:
      - '**/*.js'
      - '**/*.scss'
      - '.github/workflows/javascript.yml'
      - 'package.json'
      - 'yarn.lock'
  push:
    paths:
      - '**/*.js'
      - '**/*.scss'
      - '.github/workflows/javascript.yml'
      - 'package.json'
      - 'yarn.lock'

jobs:
  javascript-build:
    name: 'Check javascript build'
    if: "!contains(github.event.commits[0].message, '[skip ci]') && !contains(github.event.commits[0].message, '[ci skip]')"
    runs-on: 'ubuntu-20.04'

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: 'Checkout current revision'
        uses: 'actions/checkout@v2'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: 'Yarn install'
        run: 'yarn install'

      - name: 'Yarn build'
        run: 'yarn build'

      - name: 'Run ESLint'
        run: 'yarn eslint src/Template/Layout/js/**/*.js'
