{% do _view.assign('title', 'Model ' ~ resourceType|humanize) %}
{% do _view.assign('bodyViewClass', 'view-module view-model') %}

<div class="module-header">
    <header>
        <h1>{{ title }}</h1>
    </header>
</div>

{% element 'Modules/index_header' %}

<div class="module-index">
    {% element 'Modules/index_categories' {
        'saveAction': { '_name': 'model:save:categories' },
        'removeAction': { '_name': 'model:remove:categories' }
    } %}

    {% element 'Model/sidebar_links' %}

</div> {# end module-content #}
