{% do _view.assign('title', 'Components Playground') %}
{% do _view.assign('bodyViewClass', 'view-playground') %}

<div class="playground-page">
    <components-playground></components-playground>
</div>
